[2016-02-01 10:59] hlashbrooke opened #1 "Implement WordPress.org header and footer"
We need to have the standard header and footer from WordPress.org used here too. The theme directory is a good example of how this is implemented: https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-themes

[2016-02-01 11:08] ntwb commented on #1
@hlashbrooke you can pull in the raw source from the canonical files via:
• WordPress.org header https://wordpress.org/header.php
• WordPress.org footer https://wordpress.org/footer.php

[2016-02-01 11:15] hlashbrooke commented on #1
Great stuff - thanks @ntwb :)

[2016-02-01 11:33] hlashbrooke opened #2 "Define and build relevant CPTs & taxonomies"
The content of HelpHub will (most likely) need to be built using custom post types and taxonomies. The other option is that we just use the `post` post type and it's associated taxonomies. Either way we will need to decide what we're going to do and build the appropriate CPTs, taxonomies, and custom fields.

[2016-02-01 11:35] hlashbrooke opened #3 "Build homepage layout"
The home page layout is defined in the wireframes: https://wp-commhub.mybalsamiq.com/projects/helphub/Home%20page

We will need to build that out and can use dummy text until we have the data structure in place from #2.

[2016-02-01 11:36] hlashbrooke opened #4 "Build single article layout"
The wireframe for the single article view is here: https://wp-commhub.mybalsamiq.com/projects/helphub/Single%20article

We can do this with filler text until we have defined the data structure in #2. Also take note of #6.

[2016-02-01 11:38] hlashbrooke opened #5 "Related articles functionality"
We have a 'Related Articles' section in the single article wireframe (https://wp-commhub.mybalsamiq.com/projects/helphub/Single%20article) - we need to decide how this will work. Should it be automated based on tags/categories? Should we manually link articles? If it's manual, then do we use an existing plugin or build our own? Need to decide the best way forward.

[2016-02-01 11:39] hlashbrooke opened #6 "Table of contents"
We didn't include a table of contents in the wireframes for the single article view (https://wp-commhub.mybalsamiq.com/projects/helphub/Single%20article), but it would be very useful for longer articles. There are a number of plugins that already do this, but it might be worth building it ourselves so it can be more neatly tailored to our needs.

[2016-02-01 11:41] hlashbrooke opened #7 "Article voting functionality"
In the single article wireframes (https://wp-commhub.mybalsamiq.com/projects/helphub/Single%20article) we included a thumbs up/down function. We need to spec that out and decide just how it will work before building it.

[2016-02-01 12:02] hlashbrooke opened #8 "Search results template"
We didn't include a search results template in the wireframes, but with the search being such a prominent feature of the home page we need to build that out.

[2016-02-01 12:03] hlashbrooke opened #9 "Search functionality"
WordPress has a decent built-in search, but it might be a good idea to look into how we can improve that. There are plugins that improve the default WordPress search (the ones that come to mind are SearchWP and Relevanssi), so it might be good to investigate an option like that, or look into building an enhanced search ourselves as the search functionality is very important to achieving HelpHub's

[2016-02-01 12:06] hlashbrooke opened #10 "Reading time functionality"
We included a 'reading time' feature in the single article wireframes: https://wp-commhub.mybalsamiq.com/projects/helphub/Single%20article - we can look into an existing plugin for that or we can build our own way of calculating the reading time (based on word count presumably).

[2016-02-01 14:28] justingreerbbi commented on #10
Good read on this. Medium has a simple formula.
https://medium.com/the-story/read-time-and-you-bc2048ab620c#.igemwrl6w

[2016-02-01 15:10] JasonHoffmann commented on #7
I've implemented this on a few different sites. The most straightforward way I know of doing this is to simply use a "votes" meta field, and add a AJAX handler to manage the functionality. There are a coupel of hangups though
- One question I would have is to we really want up _and_ down voting functionality? Presumably the content making it to Helphub would be vetted already, so I don't see how d

[2016-02-01 15:34] justingreerbbi commented on #7
Down voting is helpful even is the information is vetted. It will help editors know what is working and what needs to be more clear. Sometime editors get too close to the fire.

IMO, I see  something like "Was this article helpful?" a better approach than just up/down. If the user clicks "no" then we always have the option of capturing user feedback at a later time. The voting idea is more for edi

[2016-02-01 15:49] justingreerbbi commented on #9
Agreed! This for sure will be the heaviest used feature in the entire system IMO. From my understanding search functionality searches 3 areas with a match type check. Title, Content and Excerpt are default where adding CPT is easy enough.

I would caution using non core plugins for such a solid support beam in this project. We can keep this light weight and make it do exactly what we what. I opt f

[2016-02-01 15:59] ntwb commented on #7
The w.org "devhub" project includes up/down voting:

• Example: https://developer.wordpress.org/reference/functions/register_post_type/#comments
• Source Code: https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-developer/inc/user-content-voting.php

[2016-02-01 16:03] Kenshino commented on #2
I'd suggest proper planning of CPT for flexibility in the future.

I imagine we might actually need the post, post type as blog perhaps?

[2016-02-01 16:08] justingreerbbi commented on #2
I second @Kenshino. I think CPT would allow for a lot of stretching room. I am not sure if we will have a blog there as well though. Maybe @hlashbrooke could shed some light on that idea in the next meetup.

If we are 100% sure that there will be no blog, then it may make sense to not bloat with CTP's for articles.

[2016-02-01 16:22] JasonHoffmann commented on #7
That's great, no need to re-invent the wheel right?

[2016-02-01 16:31] Kenshino opened #11 "Localisation Functionality"
I'm not sure what the plans are currently for localisation.

Eg. The Japanese Codex is quite frankly as I understand a manual effort at checking change logs on pages and them fixing it. It also seems to be hosted out of WordPress.org

I read there are some indications on possibly making one for DevHub or the whole of WordPress.org - see https://wordpress.slack.com/archives/docs/p1454139890000244

[2016-02-01 16:34] Kenshino commented on #9
I would love to see an Ajax-enabled 'Suggested Search'

Clueless users really won't know what terms to search for.

[2016-02-01 16:41] justingreerbbi commented on #9
Auto complete on titles only (maybe more fields later) to conserve energy but I definitely think we should have some sort of autocomplete as well.

[2016-02-02 08:43] hlashbrooke commented on #11
Thanks for bringing this up @Kenshino.

Yes, this is very important and something that we must take into account when we develop the platform - I'll chat to the DevHub team and see how we can collaborate.

[2016-02-02 08:44] hlashbrooke commented on #10
That's super useful - will be easy to write this ourselves.

[2016-02-02 08:45] hlashbrooke commented on #9
+1 to everything suggested so far :smile:

[2016-02-02 08:48] hlashbrooke commented on #7
In the case of DevHub, the voting is on the user contributed notes and not on the article itself, but the general functionality can easily be pulled across.

That being said, maybe down voting isn't such a great idea. We could instead have a 'was this article useful?' type field (like many other platforms have) and then people can optionally submit a more detailed explanation of their answer.

It'

[2016-02-02 08:56] hlashbrooke commented on #2
There will not be a blog included in HelpHub - this will be a focussed platform for user documentation and nothing else. We will most likely need to include other CPTs for article feedback and the like (although we may not), so it might be good to just use the `post` post type for the articles to prevent bloating with too many post types. We can discuss and decide on the best option here.

[2016-02-02 14:06] justingreerbbi commented on #5
I feel that this is easy enough to automate and we can run off tags and categories

[2016-02-02 14:07] hlashbrooke commented on #11
Localisation needs to be sorted out globally for WordPress.org, so it is outside the scope of this specific project.

[2016-02-02 14:07] #11 closed, assigned to nobody

[2016-02-02 14:56] justingreerbbi commented on #2
Do you concur @Kenshino? :)

[2016-02-02 17:44] saracope opened #12 "HelpHub footer"
Based on the wireframes (https://wp-commhub.mybalsamiq.com/projects/helphub/grid), it looks like we need to create a HelpHub specific footer section to implement in addition to the .org footer.

[2016-02-02 20:20] hlashbrooke commented on #12
Yes - I think this HelpHub footer is valuable, so we should include it above the standard .org footer.

/cc #1

[2016-02-03 00:57] justingreerbbi commented on #10
PR Sent #13

[2016-02-03 02:02] Kenshino commented on #10
Could we keep to the WordPress PHP Coding standards?

See https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/

[2016-02-03 03:27] justingreerbbi commented on #10
True. PR was a bit premature. Closing and going to repush in the morning.

[2016-02-03 20:38] jonathanbossenger commented on #1
@hlashbrooke are we talking the entire header (links, search etc) or just the styling?

[2016-02-04 05:30] hlashbrooke commented on #1
It must be everything - exactly the same as DevHub has implemented it here: https://developer.wordpress.org/ - the whole header and footer so that it matches the rest of WordPress.org.

[2016-02-04 10:08] Kenshino commented on #2
So I took a little while to think about it.

And I looked through the other parts of wordpress.org I have access to.

If there is a need for handbook, we can just use the handbook CPT already developed.

For the main articles, yes, let us go with post.

For proper categorisation, we can use the default taxonomy categories and some custom taxonomies

[2016-02-04 10:21] hlashbrooke commented on #2
I'm happy with that - we can just add custom taxonomies and custom fields as we need to. For now I would think that the built-in taxonomies are enough for our needs, so I will close this issue and we can open a new one if you feel this needs further discussion or development.

[2016-02-04 10:21] #2 closed, assigned to Kenshino

[2016-02-04 12:26] carl-alberto commented on #1
Would it be a good idea to iframe https://wordpress.org/header.php as the theme header? so everytime they update the https://wordpress.org, our theme would dynamically update too? It would save us time in updating the header everytime https://wordpress.org updates. Or it is still best to create the header from scratch to match https://wordpress.org/header.php?

[2016-02-04 12:47] ntwb commented on #1
@carl-alberto No, not an iframe, use PHP's `require`, this' how the devhub project does it:

`require WPORGPATH . 'header.php';` and `require WPORGPATH . 'footer.php';`

• https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-developer/header.php#L12

• https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/theme

[2016-02-04 14:29] carl-alberto commented on #1
Thanks for the guidance @ntwb . I have the header ready here in this PR https://github.com/hlashbrooke/HelpHub/pull/15

[2016-02-04 16:38] carl-alberto commented on #6
Can this be a template file which if selected, can enable a floating "table of contents" widget where we can create sections/groups and can be linked to that table of content widget?

[2016-02-05 10:41] hlashbrooke commented on #6
@carl-alberto That sounds like a decent solution. So long as the table of contents is automated from the content of the article being viewed then it's all good.

[2016-02-05 10:43] hlashbrooke commented on #1
Closed by #15 and #16

[2016-02-05 10:43] #1 closed, assigned to nobody

[2016-02-05 10:44] hlashbrooke commented on #12
Closed by #16

[2016-02-05 10:44] #12 closed, assigned to nobody

[2016-02-05 11:19] carl-alberto commented on #12
Sorry, I think there were some footer styles that got broke when these 2 different branch was merged to master so this PR fixes that:
https://github.com/hlashbrooke/HelpHub/pull/17

[2016-02-05 11:57] hlashbrooke commented on #10
Closed in #14

[2016-02-05 11:57] #10 closed, assigned to nobody

[2016-02-05 12:07] hlashbrooke commented on #5
Note that we'll be using the built-in `post` post type as well as the default tags and categories (as per discussion in #2), so we can use those for gathering the related posts.

[2016-02-05 13:09] carl-alberto commented on #3
@hlashbrooke I have an initial version here where we can start: https://github.com/hlashbrooke/HelpHub/pull/18

[2016-02-05 13:43] justingreerbbi commented on #3
I have one suggestion before we get to far into the dev of the front-end. I noticed that the float / grid elements are being styled on individual elements. Would it make more sense to use a bootstrap like http://www.responsivegridsystem.com/ and a 6 grid system?

It keeps uniformity through the site. Elements that need to be adjusted in a grid can then be styled individually. This was we don't hav

[2016-02-05 13:47] hlashbrooke commented on #3
Let's get the opinions of @saracope and @greensteph on this. I haven't used most of these grid systems and I would be careful of just trying to use all the technical things that we think are cool.

That being said, if we find a tool that works well for us then let's stick to that, bearing in mind that we need to make sure the site is responsive as well as fit into the rest of the WordPress.org aes

[2016-02-05 14:03] justingreerbbi commented on #3
The suggestion above is based on the fact that it is not a framework and is just a standard basically for working with float elements. Even if we don't use something premade, it would be beneficial to use our own of some sort. IMO it beats having 100 different `float: left`'s running around when it could be 2 or so. But... I digress on the matter. :hammer:

[2016-02-05 14:11] justingreerbbi commented on #9
I am holding off on this template until we get some more styles and templates in place.

EDITED: I would like to get the actual content / CPT / Taxonomy structure in place before moving on this.

[2016-02-05 14:11] justingreerbbi commented on #8
I am holding off on this template until we get some more styles and templates in place.

[2016-02-05 14:13] carl-alberto commented on #6
@hlashbrooke I also have a question on how will the help articles be created?
1) Is it by users with certain wp admin access by adding a regular post?
2) Anyone can submit their help documentation from the front-end and submit for admin approval?

[2016-02-05 14:18] hlashbrooke commented on #6
At first the articles will be added by users with correct permissions adding a regular post. In the future we will have a broader solution that will work on all relevant WordPress.org sites that will be like a 'suggest an edit' feature, where people can submit a change and it can be approved or rejected.

But for the ToC you just need to assume that all posts will be added in the dashboard and the

[2016-02-06 02:43] ntwb commented on #3
WordPress.org has a "common" stylesheet with responsive styles:
https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/style/wp4.css#L1974

*\* "Common" as in many/much of .org uses this same stylesheet across many w.org properties

[2016-02-06 02:52] justingreerbbi commented on #3
Thanks. This is what I was thinking just did not know where to look!

[2016-02-06 03:27] JasonHoffmann commented on #7
Ok, I managed to get a working prototype of something basic up on the feature-voting branch. It can be invoked within a post using the function `show_voting();`. Though, I haven't styled it or added it to the theme. Waiting for things to get a bit farther along.

I took the really simple approach, modeled a bit after what I've seen on the [Media Temple knowledge base](https://mediatemple.net/commu

[2016-02-06 11:04] carl-alberto commented on #3
Awesome, thanks for the guidance!

[2016-02-09 12:31] carl-alberto commented on #6
Gotcha, thanks for the clarification. I think I'll do it as a plugin rather than a template file.

[2016-02-09 14:15] Apina commented on #7
I'd +1 the "found this useful" with a feedback box if they didn't. That way any negative reactions request feedback and don't downplay an article based on people randomly/incorrectly downvoting something (so only positives are shown but negatives are captured)

[2016-02-09 14:19] hlashbrooke commented on #7
Forgot to reply here, but I agree - a thumbs up ("found this useful" is a good phrase, but happy for that to be anything that works well) and then a text box for feedback (either positive or negative). Keeps all publicly visible feedback positive and allows us to gather all the feedback, no matter what it is.

[2016-02-09 14:24] hlashbrooke commented on #3
As discussed in Slack, we're going to use a page template for the home page layout.

[2016-02-09 14:45] carl-alberto commented on #3
If no one have started this yet, can I try again another PR that utilizes front-page.php?

[2016-02-11 13:35] hlashbrooke commented on #6
The Handbooks on WordPress.org use a custom plugin to handle all of their functionality and one part of that plugin is a table of contents. It might be a good idea to pull the ToC functionality from the Handbook plugin and use it here. Unfortunately the Handbook plugin is one big plugin that includes everything so we would need to separate it somehow - I can't imagine that being _too_ difficult th

[2016-02-11 14:51] saracope commented on #3
Go for it! @carl-alberto

[2016-02-12 05:26] carl-alberto commented on #6
Thanks @hlashbrooke let me dig into that handbook plugin

[2016-02-16 08:34] Kenshino opened #19 "Build Post Type, Custom Post Type, Taxonomies handler Plugin"
Building a plugin that will create post types and custom taxonomies, does the sanitisation, the meta boxes and such

[2016-02-16 14:16] Kenshino commented on #7
By the way, I looked at WooThemes' doc Article Feedback mechanism, I actually quite like it.  eg when it's in the listed format, https://docs.woothemes.com/documentation/plugins/woocommerce/getting-started/installation-and-updating/ and https://docs.woothemes.com/document/installing-uninstalling-woocommerce/ when it's in the article single page, with a form to send feedback

[2016-02-16 15:02] Kenshino opened #20 "Article Categories"
Let's define some core post categories.

Eg. Installing WordPress, Moving WordPress, Using WordPress etc etc

Any thoughts?

[2016-02-16 15:30] greensteph commented on #20
We threw some of these into the wireframes:
Installing WordPress
Setting Up WordPress
Working With Themes
All Things Plugins
Core Functions
Advanced Topics- this one needs refined the most I think. Maybe change to Troubleshooting??
*Each one has a few sub-categories listed that need flushed out also.

[2016-02-16 15:35] justingreerbbi commented on #20
Would "Developing with WordPress" be something of interests? I am just thinking of the general topics like FTP, and tech stuff. OR would this be something for "Installing WordPress/Setting up WordPress" as a sub category.

I just don't think it should be tucked away too far whereever we put it.

[2016-02-16 15:36] saracope commented on #20
@justingreerbbi I was thinking those articles would be in devhub.

[2016-02-16 15:36] justingreerbbi commented on #20
Oh yea. That would make sense.

[2016-02-16 15:37] saracope commented on #20
@justingreerbbi But I do see articles on Microsoft IIS and FTP in this support article listing...

[2016-02-16 15:38] saracope commented on #20
...Changing file permissions, htaccess...

Maybe server settings?

[2016-02-16 15:40] Kenshino commented on #20
Do remember DevHub is more about Developing using WordPress, not creating the environment for WordPress. That may be HelpHub related. I imagine if we ever do an article on cPanel, that it would be in HelpHub too. So IIS and FTP would legitimately be in HelpHub imo

[2016-02-16 15:43] greensteph commented on #20
Yes, so what would we call that? @saracope suggested Server Settings what about Server Side?

[2016-02-16 15:45] Kenshino commented on #20
How about Server Setup as the main category and other things such as Server Settings, Server 'Types' etc as sub categories?

[2016-02-16 15:48] greensteph commented on #20
This is what we had on the wireframes to start with. Feel free to edit this chart as we go. I'll add the bottom 3 in the next post.

| Installing Wordpress | Setting Up WordPress | Core Functions |
| --- | --- | --- |
| Before You Install | The Admin Area | Create Pages |
| Setup Hosting | Creating Users | Manage Categories |
| Common Problems | Changing The Look | Create Posts |
| Another Related

[2016-02-16 15:53] greensteph commented on #20
I added in the Server Setup to replace Advanced Topics. Thoughts?

| Working With Themes | All Things Plugins | Server Setup |
| --- | --- | --- |
| Another Related Topic | Another Related Topic | Server Settings |
| Another Related Topic | Another Related Topic | Server Types |
| Another Related Topic | Another Related Topic | Another Related Topic |
| Another Related Topic | Another Related Topi

[2016-02-16 15:55] saracope commented on #20
I'm thinking Server Setup could be placed under Setting Up WordPress instead of having it's own category.

[2016-02-16 15:55] greensteph commented on #20
Yeah, I'd really like to make that last category Troubleshooting.

[2016-02-16 15:56] saracope commented on #20
@greensteph  :+1:

[2016-02-17 06:25] Kenshino commented on #19
So for Custom Taxonomies, I have Persona and Experience.

For meta field (for post, post-type), I'm gonna add in Reading time in. If the field exist in the front end, editors should be able to see the same information in the backend as well. Related: https://github.com/hlashbrooke/HelpHub/issues/10

Do we need any other meta fields / taxonomies / post types?

[2016-02-18 16:57] carl-alberto commented on #3
Thanks, I got an initial version ready for review: https://github.com/hlashbrooke/HelpHub/pull/22

[2016-02-22 06:44] Kenshino commented on #19
PR https://github.com/hlashbrooke/HelpHub/pull/23

[2016-02-23 06:05] hlashbrooke commented on #19
I'm closing this as the PR has been merged.

[2016-02-23 06:05] #19 closed, assigned to Kenshino

[2016-03-01 14:18] Kenshino commented on #20
We're sufficiently covered - props to @greensteph @saracope

Closing

[2016-03-01 14:18] #20 closed, assigned to Kenshino

[2016-03-09 16:09] JasonHoffmann commented on #7
@Kenshino @hlashbrooke I have pushed the latest to the feature-voting branch. Here's what it does:
- Filters the comment template and adds a custom template from the plugin
- Adds the voting module to the top of this form. Thumbs up or thumbs down.
- If a user votes, it attaches to the comment as a piece of comment_meta
- If a user submits feedbacks, it sends the comment through via AJAX, with the

[2016-03-14 07:31] Kenshino commented on #4
I will be writing the template for this

[2016-03-14 07:32] Kenshino commented on #3
@carl-alberto Are you updating your pull review? :)

[2016-03-14 07:32] Kenshino commented on #7
@JasonHoffmann Hey Jason, awesome! Sorry it took me days to respond.

I'm gonna take a quick look before our meeting tomorrow and post here!

[2016-03-15 11:33] hlashbrooke commented on #7
@JasonHoffmann This is really great. My local dev environment has been on the blink for the last few days, but I did manage to check this out before then. I like that the yes/no vote is stored as comment meta and that the comment submission is via AJAX - that seems like the best way forward.

I think it would be great if the comment box only appeared after the user selected yes or no - that way it

[2016-03-19 14:23] Kenshino commented on #4
PR #26

[2016-03-19 14:44] Kenshino opened #28 "Read Time may not be accurate"
@justingreerbbi

See http://helphub.wingz-media.com/2016/03/18/htaccess/ as example.

That article definitely looks like it will take longer than 4 mins.

Can we adjust the way read time is calculated?

Semi-related #27 #29

[2016-03-20 08:31] Kenshino commented on #8
It might be better for the original people who made the wireframes to do up one for search results so that @justingreerbbi can build easily based on a properly UXD thought out page.

[2016-03-22 14:28] justingreerbbi commented on #28
Makes sense.. Right now we run on an average WPM (word per minute) base to calculate read time. The WPM value was taken from an average of people reading literature (novels, etc). Since the content is documentation we could decrease the WPM to increase read time an appropriate level.

To your point, people reading this documentation will read ever word without much skimming since they are instruct

[2016-03-22 14:29] justingreerbbi commented on #28
I also read the article skipping all the code blocks ran finished in about 3 minutes. The code blocks are going to play a bigger role than I initially thought.

[2016-04-08 05:51] Kenshino commented on #5
So I think we should continue discussing this.

How do we want to make this work? A widget?

How do we co-relate really related articles? Querying them via categories is easy but actual relevance is hard to determine.

Should we have a dropdown to manually input articles (if desired) and if the meta field is not filled in, automated querying will happen?

[2016-04-17 13:47] carl-alberto commented on #3
@Kenshino sorry for the late update, here's the latest: https://github.com/hlashbrooke/HelpHub/pull/22

[2016-04-18 06:23] Kenshino commented on #28
The new read time is a better estimate with PR #32

Closing this - may review afterwards with other articles.

[2016-04-18 06:24] #28 closed, assigned to nobody

[2016-04-19 14:32] justingreerbbi commented on #8
Reference https://wp-commhub.mybalsamiq.com/projects/helphub/grid

[2016-04-20 11:02] carl-alberto commented on #3
Added a widget area after the homepage page title to be utilized the search functionality https://github.com/hlashbrooke/HelpHub/pull/22

[2016-04-20 11:03] carl-alberto commented on #9
@justingreerbbi I added a widget area after the homepage page title to be utilized the search functionality https://github.com/hlashbrooke/HelpHub/pull/22 ,please let me know if that would suffice for the homepage

[2016-04-21 12:07] carl-alberto commented on #6
@Kenshino / @hlashbrooke Regarding the table of contents in single articles, will this be a good place to insert the table of contents? http://screencast.com/t/r0ChotnciZH

[2016-04-27 16:30] Kenshino opened #33 "Responsive Tables"
Some of our articles require tables.

Jetpack would most certainly be available to HelpHub but Markdown Tables are a pain to use. There is a generator - http://www.tablesgenerator.com/markdown_tables

You could paste tables from MS Word (the code generated actually isn't that bad). It's probably the fastest and most intuitive way owing to the nice table drawing system Word has.

But either of thes

[2016-05-10 07:38] Kenshino opened #34 "Unique Codex Articles don't fit"
So we have a series of articles for WordPress versions, and an 'archive' page for it. See https://codex.wordpress.org/WordPress_Versions

So I paged the core team on this

Should we create a custom post type for WordPress versions? It's a pretty important page.

But I do not know if it belongs to Helphub. But it certainly also doesn't belong to DevHub

[2016-05-10 14:16] justingreerbbi commented on #9
@carl-alberto Thanks. I am starting on this portion here shortly and your widget area will come in handy.

[2016-05-10 14:24] Ipstenu commented on #34
The changelog would be devhub I think. But the list of versions are like the about page... Have you asked SamS about it?

[2016-05-10 18:32] justingreerbbi commented on #9
Working on this, I am at a fork in the road. Are we looking for something like http://polarblau.github.io/suggest/? Maybe we do a standard autocomplete. I am a big fan of simple stupid but standard autocomplete is also an option.

Suggestions with examples would be awesome. My fallback will be to using the suggest script in WP core.

[2016-05-11 08:28] Kenshino commented on #34
We have a meta track ticket for this - https://meta.trac.wordpress.org/ticket/1645 Seems like SamS think it is a Helphub thing - I will ask him later

[2016-05-17 08:02] Kenshino commented on #9
@justingreerbbi jQuery.suggest seems to only take the first related term to help with auto complete.

I want to really suggest actual search terms via that text box. Think Amazon

[2016-05-17 10:08] justingreerbbi commented on #9
Agreed. I have an auto complete example in https://github.com/hlashbrooke/HelpHub/tree/feature-search right now. It is very basic and returns based on the title of articles. I am going to browse the articles we have and see what terms/cats other fields we have at our expense to make it better.

I am also looking for a relativity factor so we can show based on relativity to the input terms and not

[2016-05-24 15:22] carl-alberto opened #35 "Widgets that will be used for the homepage post categories"
@justingreerbbi @Kenshino We'll be needing to finalize the custom functionality of the widget that we will be using in the frontpage as discussed in here: https://github.com/hlashbrooke/HelpHub/pull/22

[2016-05-26 13:21] justingreerbbi commented on #35
I am going to add a search widget to https://github.com/hlashbrooke/HelpHub/tree/feature-search. This will allow us to have a "main search" widget. I will update this PR when I have it in.

[2016-05-26 17:32] carl-alberto commented on #35
Regarding the 6 grey boxes/widgets areas in the homepage, here are the points that I am looking into:
1) Querying posts by standard post categories
2) Option to have a limit to return 1-10 items
3) Sort order by popularity
4) Has the option to manually add post entries to display

If everyone agrees, I can start coding it

[2016-05-31 12:24] carl-alberto commented on #35
@Kenshino / @justingreerbbi Added a simple widget that displays posts based from post category so we have something to start with.

Here is the PR for testing: https://github.com/hlashbrooke/HelpHub/pull/36

[2016-06-14 00:42] justingreerbbi commented on #7
After doing some poking around a bit I think @JasonHoffmann did a pretty good job on this. The branch needs a bit of love still but that was expected. Here is a list of things that I am wanting to go through.
- Hide the comment box and only show it if the user votes.
- @JasonHoffmann mentioned about having a back-end to see what vote belongs to which comment. For version 1 of the feature, I am not

[2016-06-26 10:29] Kenshino opened #39 "Read Time should check if the post is entirely new"
Read Time should check if the post is entirely new or at least if post_content is empty before attempting to run DomDocument() and it's related functions

Now it returns the error message via the Add New Post page

`$data->loadHTML(): Empty string supplied as input in /home/hughlash/public_html/wphelphub.com/wp-content/plugins/helphub-read-time/helphub-read-time.php on line 52`

[2016-07-08 07:14] Kenshino commented on #5
@SergeyBiryukov Do you think this is something you can look into as well? :)

[2016-07-12 06:49] Kenshino commented on #39
So I just added the code below for a temp fix to wphelphub.com.com

[code]

There is a wrong commit to your branch but I had that reverted.

If the code looks good (works fine in wphelphub.com) feel free to use it

[2016-07-12 14:20] Kenshino opened #41 "Responsive Styles"
Our current theme is mostly not responsive.

Let's make it so

[2016-07-12 14:50] carl-alberto opened #42 "Template file & styles"

[2016-07-12 14:51] carl-alberto opened #43 "WordPress Versions archive template"

[2016-07-12 14:55] carl-alberto commented on #43
This will be a separate template file that have to call the related child terms for the major release term. Eg. 4.5 page has to call get_terms to get 4.5.1 4.5.2 etc

@Kenshino do you have sample posts that contains those terms that you mentioned?

[2016-07-19 20:55] bravokeyl commented on #39
Since we are having `Display Settings`meta box only on posts, I suggest we can use `save_post_post` action hook instead of `save_post` as it runs on import, post/page edit form, xmlrpc, or post by email.

Also instead of /in addition to checking it with `$pagenow` we can leverage third parameter of `save_post`   action hook `$update` which is true if it is an existing post being updated or new.

A

[2016-07-29 10:19] Kenshino commented on #5
Reminder - Just use Jetpack :)

[2016-08-08 11:36] justingreerbbi commented on #39
@Kenshino I am adding you code to my branch. Perhaps, we look into the `save_post_post` after we merge the actual issue. Lets make sure we keep it in mind.

[2016-08-15 03:36] carl-alberto commented on #6
@Kenshino we have an initial version for the TOC plugin https://github.com/Kenshino/HelpHub/pull/46 please evaluate

[2016-08-16 15:13] justingreerbbi opened #47 "No Search Results should guide/suggest forums"
The flow of this is TBD but in the event that there is no search results, we need to guide the user to the forums in some way. Suggesting topics would be ideal but maybe a nice interface guiding the user would be ok as well. This would should feel like HH did not really fail in providing results but rather saying "I don't have what you are looking for, but I know who does!"

This will be one of th

[2016-08-25 06:08] Kenshino commented on #43
WordPress Versions have already been migrated.

Do you mean those when you said sample posts?

[2016-08-25 06:09] Kenshino commented on #39
Fixed with #38

[2016-08-25 06:09] #39 closed, assigned to nobody

[2016-08-25 06:10] Kenshino commented on #34
Fixed with #40

[2016-08-25 06:10] #34 closed, assigned to Kenshino

[2016-08-30 14:32] jonathanbossenger opened #49 "Contributor tracking"
We need a way to
1. Track contributors (both now and in the future) of article content
2. Display the article contributors at the bottom of the article

We already have all the current contributors on the Migration document (and any changes should be in the history) but we might want to find a better way to track this.

[2016-09-04 22:16] jonathanbossenger commented on #49
@Kenshino could we not use the post revisions and post_author field as the basis of a plugin/theme function that could show contributors and contributor count ?

[2016-09-27 09:24] Kenshino commented on #49
Hmmmmmmmmm, yeah I guess pulling the revisions itself would give us the contributors that have backend acccess.

But what about people who give feedback? There could be people who actually write proper replacements for areas that can be replaced. Do we not include them?

[2016-09-27 09:27] Kenshino commented on #47
What's the blocker to achieving this?

[2016-09-27 09:34] jonathanbossenger commented on #49
Yeah that's a good point. @hlashbrooke had some ideas for this, perhaps he could comment on theme here.

[2016-09-27 10:10] hlashbrooke commented on #49
Could the frontend edits that people supply not be saved as revisions too? That could result in the DB being filled up with stacks of `revision` posts though, which may not be ideal.

Alternatively, why don't we add a meta field to each post that contains an array of all the wp.org usernames that have contributed to the post? Then, on edit (whether it's in the dashboard or on the frontend), we can

[2016-09-27 14:37] jonathanbossenger commented on #49
@Kenshino Would we not just give them some form of editing access or would someone include that person's comment in as an update. I am just concerned we're adding a manual process where it would be easier to just say to such a person 'Cool, here's edit access to this article, please make the change'

[2016-09-28 01:22] Kenshino commented on #49
@jonathanbossenger It would be easier but inherently dangerous. If it's someone we know, indeed, just give them edit access. Afterall we're an inclusive community.

But if someone we don't know sends us a good edit direction, I'm not gonna just give edit permissions :)

[2016-10-01 20:11] jonathanbossenger commented on #49
Ok point taken. Will start working on this during the course of this week.

[2016-10-17 03:56] Kenshino commented on #49
@jonathanbossenger Any update on this?

[2016-10-17 11:23] jonathanbossenger commented on #49
@Kenshino Unfortunately not, I have been swamped. :-( You may need to see if anyone else can pick this up and run with  it.

[2016-11-01 14:43] Aternus opened #50 "Functionality: Automatic linking for hooks (filters/actions)"
**Overview:**
Add ability to reference the correct hook by using a shortcode.

**Workflow:**
1. User adds [filter name="the_title"] or [action name="do_shortcode"]
2. The system will look for a hook name in the reference database
3. If successful, a link will be created to the reference
4. If not successful, the name of the filter will be displayed with a red underline (marking missing content)

*

[2016-11-01 14:48] ramiy commented on #50
It should be an enclosing shortcode `[filter name="the_title"]content[/filter]` to allow you to change the text in the link.

Very [simple to implement](https://generatewp.com/shortcodes/).

[2016-11-01 14:57] ramiy commented on #50
Quick code example: https://generatewp.com/snippet/XBJ1Y7Q/

[2016-11-23 08:04] jonathanbossenger opened #51 "Installating WordPress"
On one of the home page widgets, _Installating WordPress_ instead of _Installing WordPress_.

From what I can see this is a widget header, if someone with the right permissions could edit that widget, alternatively if I am allowed access to edit widgets I can do it.

Thanks

[2016-11-24 10:32] Kenshino commented on #51
Fixed and also made you admin.

Cheers!

[2016-11-24 10:32] #51 closed, assigned to nobody

[2016-11-24 10:41] Kenshino opened #52 "Travis CI for project"

[2016-11-24 10:55] Clorith commented on #50
I'm not sure a shortcode is needed here, the post editor has a link button which does exactly the same, and with many of the hooks and actions in core that may use variables as part of the trigger, the shortcode would fail for them in general.

Better to build up a good pattern of adding links with the editor then having to switch between the two.

[2016-11-25 08:38] Kenshino commented on #50
@Clorith DevHub and Helphub won't on the same installation though.  How would the editor's link function work then?

Or are you talking about doing it manually?

[2016-11-25 08:52] Clorith commented on #50
I mean doing it manually, that's the only way you'll get a reliable link to the docs you want

[2016-11-26 08:38] Aternus commented on #50
Do we have a stable link structure?
What will happen if the link structure changes?

While I can see the benefit of doing it manually there is also the downside of doing 3 extra steps each time you want to create a link for a hook.
I admit, I'm lazy, but I prefer letting the shortcode solve this issues instead of forcing myself to do this every single time.

[2016-11-26 21:05] Clorith commented on #50
I just have concerns when it comes to the variable stuff, would people remember in documentation that `admin_post_plugin-does-magical-stuff` needs to be linked to https://developer.wordpress.org/reference/hooks/admin_post_action/ as the hook is variable (and would they know the variable LINK in use without looking it up any way)..

I don't think the URLs changing is something we need to worry abou

[2016-11-27 10:13] Aternus commented on #50
If I'm understanding you correctly, we need a way to verify the integrity of the link and notify the author if it is broken.

This can be done by limiting scope of the call to is_admin() and displaying it on the front end with a red underline (similar to what we currently have in Codex).

This will also ensure that all links are validated when someone looks at a page.

What about adding a transien

[2016-12-20 07:37] Kenshino commented on #50
I can see this of really helping in a way that -

If I type get_template_part(), it'd auto link without using any shortcode.

See DevHub's implementation at https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-developer/inc/formatting.php#L164

[2017-01-06 04:52] Kenshino opened #75 "Require Reviews to merge into master"
Since it's part of our rules not to merge our own commits and to also get reviews - I'm using the system to enforce that

[2017-01-06 04:52] Kenshino commented on #75
Changed Repo setting to protect master branch -

Now requires review from at least one with commit access and for it to pass tests (Travis for now)

[2017-01-06 04:52] #75 closed, assigned to Kenshino

[2017-01-06 04:53] Kenshino commented on #52
What's remaining on this @ntwb @miya0001

[2017-01-06 08:27] miya0001 commented on #52
I'll write some tests in this weekend. 😄

[2017-01-06 16:18] hideokamoto opened #76 "Wrong Footer widget called"
## What I expected

- set `Recent Posts` widgets on `Footer1`
- set  `Meta` widgets on `Footer2`
- Footer contents will be like this image
<img width="984" alt="2017-01-07 1 14 55" src="https://cloud.githubusercontent.com/assets/6883571/21724194/be1f0cc4-d476-11e6-8954-f461315ec021.png">

## What happened instead

- set `Recent Posts` widgets on `Footer1`
- set  `Meta` widgets on `Footer2`
- Foote

[2017-01-08 16:42] carl-alberto commented on #6
@Kenshino I have revised our TOC plugin, hopefully the errors are eliminated https://github.com/Kenshino/HelpHub/pull/46 ,please check, thanks!

[2017-01-09 05:16] carl-alberto commented on #6
@Kenshino Cleared all issues brought up by Travis, hopefully we can test the PR https://github.com/Kenshino/HelpHub/pull/46

Thanks!

[2017-01-09 07:17] Kenshino commented on #76
Fixed and Merged with #77

[2017-01-09 07:17] #76 closed, assigned to Kenshino

[2017-01-09 08:24] Kenshino opened #79 "Getting more done in GitHub with ZenHub"
Hola! @Kenshino has created a [ZenHub](http://www.zenhub.com) account for the **Kenshino** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboa

[2017-01-09 08:34] Kenshino commented on #4
Closing this - specific issues with the template should be addressed with new issues

[2017-01-09 08:34] #4 closed, assigned to nobody

[2017-01-09 08:35] Kenshino commented on #3
Closing this as #22 was merged, specific new issues should be created if there are problems.

[2017-01-09 08:35] #3 closed, assigned to nobody

[2017-01-09 10:33] Kenshino opened #80 "Retain links to translated Codex Pages"
Moving to Helphub means Codex pages in other languages will lose relevance as the English pages will get redirected.

We'll retain the links to those Codex pages.

#48 aims to fix that

[2017-01-09 14:06] atachibana commented on #80
OK. I will try it. Give me a time (max 1 week) to catch up this method.

[2017-01-09 14:19] Clorith commented on #33
I've got a non-published plugin laying around that filters `the_content` and creates what I like to consider a nice responsive representation of tables, but it does sort of depend on the data being represented in some cases I would believe.

I put a [test out on my test page](https://www.clorith.net/page-testing-various-things-7cc06d61a6e7381b822dea165077e53b30a5d428/), resizing will show you the

[2017-01-09 14:23] Kenshino commented on #33
Yup that makes sense - and that's how the polyglots team tables work. Do you think that sort of a table would account for most usage on Helphub?

[2017-01-09 14:33] Clorith commented on #33
I think it might (based on the tables I looked over real fast just now), but observing the table use and amending it based on usage would probably be advisable.

[2017-01-10 06:25] Kenshino opened #81 "Table of Content - Front end"
Needs styling and positioning.

But will have to wait for design team to get back on this.

[2017-01-10 06:29] Kenshino opened #82 "Table of Content - Backend"
PR at #46

[2017-01-10 06:32] Kenshino commented on #33
Alright - can you tackle this issue @Clorith

[2017-01-17 11:19] Clorith commented on #82
PR merged in b793c3dd63e8cb1fb8f8b2d6291aeba2adf1c8a7

[2017-01-17 11:19] #82 closed, assigned to carl-alberto

[2017-01-17 14:21] carl-alberto commented on #42
@Kenshino will be I awaiting for the design that I will develop?

[2017-01-17 14:29] carl-alberto commented on #81
@Kenshino will take this one up if no takers yet!

[2017-03-19 13:14] moorscode commented on #50
**Dynamic hooks/filters**
For dynamic hook names, splitting on `_` and `-` and walking back cutting off the last item until a hook is found would be a fairly reliable method to determine the base hook.

**Name lookup**
This would only be realistic if there is an API to query hook names against in a fast and efficient way. Is there an API available to validate hook names against?
Are there any hook

[2017-05-23 23:19] joyously commented on #33
Can you take a look at the CSS-only solution?
https://codepen.io/anon/pen/KmJaxL

There is general table styling and then two classes defined for tables. One is simple styling for padding and borders, and the other uses flex to flip the table over. The flip class can be used on a case by case basis since some tables are more dense or wide than others. I put several tables in there to test with.
I

[2017-06-06 15:18] carl-alberto commented on #42
Hi @Clorith

Where would be the best place to extract styles which will we need for Helphub? Thanks!

[2017-06-06 15:20] carl-alberto commented on #81
Toc should look like this https://make.wordpress.org/docs/handbook/developer-resources/handbooks/

[2017-06-06 15:27] zzap commented on #81
Great, I'll be working on this and hopefully finish by the end of week.

[2017-06-06 15:28] carl-alberto commented on #81
awesome, just ping jon, marius or me if you have any questions!  thanks!

[2017-06-10 00:35] zzap commented on #81
Pull request ready for review #88

[2017-07-11 14:37] #79 closed, assigned to Kenshino

[2017-07-11 16:16] zzap commented on #49
Alright, I like this one and will work on it next.

@Kenshino can you create branch for it so that I can create pull request to that branch?

[2017-07-18 10:31] Clorith commented on #42
The meta directory has all the themes from WordPress.org's own themes, the two that are of relevance to us is [wporg-breathe](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-breathe), and of course the default stylings from [wporg-p2](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-p

[2017-07-30 11:13] atachibana opened #103 "Travis CI Error - themes/helphub/header.php"
Good First Bugs

Fix Travis CI error of  themes/helphub/header.php

https://travis-ci.org/Kenshino/HelpHub/jobs/254806894
[code]

[2017-08-08 16:31] mapk opened #106 "Subnav links need extra styling"
The links in the subnav are too difficult to read right now. It looks like they have the new styling, but there's some old styling causing problems.

**Current Appearance**
![screen shot 2017-08-08 at 9 18 56 am](https://user-images.githubusercontent.com/617986/29082585-cea49982-7c1a-11e7-9da4-775e5423508e.png)

**Proposed Appearance**
![screen shot 2017-08-08 at 9 19 12 am](https://user-images.gi

[2017-08-08 16:36] mapk opened #107 "Remove the "Leave a Reply" form"
The "Leave a Reply" form is in a column right now covering up content and making it difficult to read. It should be removed completely. I don't think we need to allow comments for doc pages.

**Current**
![screen shot 2017-08-08 at 9 34 02 am](https://user-images.githubusercontent.com/617986/29083203-bf49d4aa-7c1c-11e7-8cda-eed40856bde0.png)

[2017-08-08 16:46] mapk opened #108 "Topics box in page needs proper styling"
The Topics box in the page has some of the new styles, but needs a few more things.

**Current Appearance**
![screen shot 2017-08-08 at 9 37 35 am](https://user-images.githubusercontent.com/617986/29083378-66a2d3fa-7c1d-11e7-97c5-58959e0a2c10.png)

**Proposed Appearance**
![screen shot 2017-08-08 at 9 39 02 am](https://user-images.githubusercontent.com/617986/29083416-834bdf4c-7c1d-11e7-9fec-83d3e

[2017-08-08 16:54] mapk opened #109 "Page Header needs restyling"
The current page headers need to be simplified to match new styling.

**Current Appearance**
![screen shot 2017-08-08 at 9 50 42 am](https://user-images.githubusercontent.com/617986/29083930-3ad54bb6-7c1f-11e7-8b43-914afb3737a4.png)

**Proposed Appearance**
![screen shot 2017-08-08 at 9 50 57 am](https://user-images.githubusercontent.com/617986/29083990-7d69c740-7c1f-11e7-9ec4-59e2f416362b.png)

R

[2017-08-08 17:00] mapk opened #110 "Search bar placement"
Any search bar that pertains to the immediate section (Docs, or Plugins, or whatever) needs to be displayed in the subnav area.

## Current Search field placement (sidebar)
![screen shot 2017-08-08 at 9 58 46 am](https://user-images.githubusercontent.com/617986/29084225-317a2248-7c20-11e7-921c-441714f3c773.png)

## Proposed Search field placement (see Plugins)
![screen shot 2017-08-08 at 9 57 28 a

[2017-08-08 17:06] mapk opened #111 "Sidebar Navigation should follow new design styles"
The sidebar navigation has the correct background color, but the text and structure need to inherit the new styling.

## Current Appearance
![screen shot 2017-08-08 at 10 01 29 am](https://user-images.githubusercontent.com/617986/29084405-bb263cf2-7c20-11e7-82f1-05a92d38559a.png)

## Proposed Appearance
![screen shot 2017-08-08 at 10 01 40 am](https://user-images.githubusercontent.com/617986/29084

[2017-08-09 06:22] zzap commented on #49
I think we should give [selectWoo](https://woocommerce.wordpress.com/2017/08/08/selectwoo-an-accessible-replacement-for-select2/) a try here @Kenshino

[2017-08-10 17:09] Clorith commented on #81
Closing in favor of #108

[2017-08-10 17:09] #81 closed, assigned to carl-alberto

[2017-08-10 17:09] Clorith commented on #6
Closing in favor of #108

[2017-08-10 17:09] #6 closed, assigned to carl-alberto

[2017-08-10 17:16] mapk commented on #33
In an effort to keep the styling of tables consistent, I've created this pen.
https://codepen.io/mapk/pen/brwPOL

![screen shot 2017-08-10 at 10 16 52 am](https://user-images.githubusercontent.com/617986/29182801-0f8fa630-7db5-11e7-916d-e6a7df671c2d.png)

They are not built for responsiveness though. If someone wants to fork this and work that out, great. Otherwise I could.

[2017-08-12 00:39] Clorith commented on #103
This is fixed with https://github.com/Kenshino/HelpHub/pull/112

[2017-08-12 00:39] #103 closed, assigned to Clorith, atachibana

[2017-08-12 08:47] Clorith commented on #52
Travis is up and running as intended after https://github.com/Kenshino/HelpHub/pull/112, any needed unit tests should be written with the tickets the code belongs to after this.

[2017-08-12 08:47] #52 closed, assigned to Clorith, ntwb

[2017-08-13 03:00] joyously commented on #33
Someone would need to get some input on what type of responsive tables are wanted. This [page](https://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions/) gives a long list of methods to use. The consensus is that the method should be tailored to the table, which makes it difficult to do generic styles.
My preference is to leave the table as is, and add a scrollbar on smaller w

[2017-08-13 20:21] zzap commented on #42
We have file `template-frontpage.php` which seems to be created on 17 Apr 2016. Shouldn't we use default `front-page.php` instead?

[2017-08-13 20:29] zzap commented on #110
Are we sure about this? No other Handbook has this search in subnav. In fact, only [plugins dir](https://wordpress.org/plugins/browse/featured/) (no make.* sites) has it at this moment.

cc @mapk @Clorith @Kenshino

[2017-08-13 21:45] Clorith commented on #110
Those are for DevHub though and use the DevHub subnav expand/collapse search field.

I trust the judgement of @mapk though so I'd say let's roll with his recommendation (and it can be iterated on if needed later on)

[2017-08-14 02:45] mapk commented on #110
@zzap While I agree that some of the other sites don't have this yet... this is the direction we're moving toward. If we can implement this pattern for the search field, that would be great. Thanks for your help with this!

[2017-08-14 11:11] Clorith opened #114 "SASSify styles"
For an easier road moving forward, and since the theme is built on top of _s already, we should use sass for styles.

The benefit to this are modular style rules, making it easier to add/remove styles, and also makes it easier to keep control of the styles that already exist.

It will obviously be a process to set up initially, as development so far was done directly against `style.css`, but the b

[2017-08-14 20:12] zzap commented on #110
Sure, sure! I just wanted to make sure we're.. well, sure :)

@mapk @Clorith

[2017-08-14 20:47] Clorith commented on #107
Removed in https://github.com/Kenshino/HelpHub/pull/113

[2017-08-14 20:47] #107 closed, assigned to zzap

[2017-08-14 22:11] zzap commented on #110
I've added the code the same way it is added in plugins dir - appended to main menu as menu item. Nothing is styled yet because we're waiting for sass to get merged to master. For now it looks like this:

 ![search](https://box.everhelper.me/attachment/1063253/e7f3a7c2-b67e-4258-97ea-b2152eca6627/654956-Mg3YFHCWghsCO6Ol/screen.jpeg)

Once we have sass in, I'll add styles and create pull request.

[2017-08-15 11:21] Clorith commented on #114
https://github.com/Kenshino/HelpHub/pull/115 is in, we're good to go!

[2017-08-15 11:21] #114 closed, assigned to Clorith

[2017-08-16 14:28] zzap commented on #106
This is fixed in #117

[2017-08-16 16:32] Clorith opened #119 "We should have contributor documentation"
As tools and workflows are sorted out and improved upon, we need a solid contributor guide.

As such, we should be creating a ~~`CONTRIBUTE.md`~~ `CONTRIBUTING.md` as is GitHub standard in such cases.

[2017-08-16 17:13] zzap commented on #119
@mapk wrote pretty clear "Getting started" in #120. We can expand it with grunt and gulp guidelines.

[2017-08-16 19:35] mapk commented on #119
I just noticed that I had named the document "CONTRIBUTING.md". Should it be changed to "CONTRIBUTE.md" instead?

[2017-08-16 20:04] zzap commented on #119
It is CONTRIBUTING @mapk

https://github.com/blog/1184-contributing-guidelines

[2017-08-16 22:04] #106 closed, assigned to zzap

[2017-08-16 22:05] #110 closed, assigned to zzap

[2017-08-16 22:12] Clorith commented on #80
https://github.com/Kenshino/HelpHub/pull/48 is merged and resolves this ticket.

[2017-08-16 22:12] #80 closed, assigned to atachibana

[2017-08-17 06:24] zzap commented on #108
This is fixed with #100

[2017-08-17 06:24] #108 closed, assigned to zzap

[2017-08-17 08:18] zzap opened #124 "Double #main element"
We have double #main element on archive, frontpage template and some other places. Initial one opens in header.php to wrap sidebar and main content. The second one, like in archive pages, should be removed from all places.

[2017-08-17 13:41] Clorith commented on #111
Any reason not to fork the `handbook` wporg plugin for this, I see it handles styling, creates widgets that are needed and such (instead of reinventing the wheel, I'd rather use a for kthough as handbook pages may evolve outside of the visuals of other parts like HelpHub)?

[2017-08-17 14:57] Kenshino commented on #124
Looks fixed. Closing!

[2017-08-17 14:57] #124 closed, assigned to zzap

[2017-08-17 16:59] zzap opened #126 "Archives"
All archives need some basic tweaking:

- font size is too small
- TOC is cut on right side, probably by some overflow: hidden

[2017-08-17 17:30] zzap opened #127 "Remove from theme all the styles we pull from .org"
We are pulling a lot of styles from .org and should remove all those from Helphub theme.

[2017-08-17 20:11] mapk commented on #126
Can we try setting the `font-size` in the `body` to `100%`? And then we can adjust from there.

[2017-08-17 20:13] mapk commented on #126
Can you give an example page where this is viewable on wp-helphub.com?

[2017-08-17 20:30] zzap commented on #126
Archives link here https://wp-helphub.com/category/advanced-topics/

#main has overflow: hidden and we should make sure that layout will stay as is on all pages/responsive if we remove that overflow.

Yes, we can and should reset font-size on body or html level.

[2017-08-17 21:42] mapk commented on #126
Ah yes, looks like there's an issue at a certain width.

![toc](https://user-images.githubusercontent.com/617986/29435037-3b01cf46-835a-11e7-88c9-8a1f79878dd4.gif)

[2017-08-18 06:25] mathetos commented on #127
I could maybe help here. Are they pulled in via @imports? Or easily identifiable somehow?

[2017-08-18 06:31] mathetos commented on #7
What's the status on this? Are either @JasonHoffmann or @justingreerbbi around to continue pushing this functionality forward? I can review the `feature-voting` branch and bring it up to parity with the current master and see where we go from there.

[2017-08-18 06:32] zzap commented on #127
Let's check with @Clorith if he had any painless way in mind (this was his suggestion in slack). At this point, in my mind it's quite a painful job.

[2017-08-18 06:39] Clorith commented on #127
I had no plans as of yet, no.

They are not pulled via imports they are enqueued magically from the WordPress.org headers https://github.com/Kenshino/HelpHub/blob/master/themes/helphub/header.php#L28-L30 (`WPORGPATH` is essentially just `https://wordpress.org/` ... which i just realized means we have multiple identical tags, developing externally is hard :( ).

`wp4.css` is the file that holds all

[2017-08-20 21:16] zzap commented on #49
I closed #105  PR because I moved this plugin to own [repo](https://github.com/zzap/HelpHub-Contributors) and will use [branch from this repo](https://github.com/Kenshino/HelpHub/compare/plugin/helphub-contributors) for PRs.

## Proposed design

by @mapk :

![design](https://user-images.githubusercontent.com/617986/29431425-bcfb0ce6-834c-11e7-89f4-9405211043a0.png)

## Result

I needed to resize a

[2017-08-22 17:43] mapk commented on #49
We can try making it just two columns. The width is a bit larger, but I think it still looks okay.

![screen shot 2017-08-22 at 10 24 37 am](https://user-images.githubusercontent.com/617986/29578455-36a5e194-8724-11e7-81b6-228e56fec1c7.png)

 --------------------

We should also make sure it's responsive. When adding widths to items in flex containers, things get a little wonky on smaller screens.

[2017-08-22 17:56] zzap commented on #49
Yes, two columns look perfect. Thank you @mapk loco :smile:

And I'll drop flex, don't need it now.

[2017-08-23 07:31] ntwb opened #130 "Use Grunt as the project task runner"
Currently both Grunt and Gulp are being used, we should use one or the other.

Gulp is setup for the theme, Grunt for everything else

After a quick impromptu meeting in [Salck just now](https://wordpress.slack.com/archives/C02RP4WU5/p1503472914000211) it was decided to use Gulp for all the things

Anyone want to to a shot at this? Happy to help if you do 😄

[2017-08-23 07:49] zzap commented on #130
Finishing #119 is on hold until Grunt part is converted to Gulp.

[2017-08-24 18:40] zzap commented on #119
There's a typo `Thuesdays` at the bottom of document.

[2017-08-24 23:41] ntwb commented on #130
Maybe we should switch to Grunt?

See #docs discussion https://wordpress.slack.com/archives/C02RP4WU5/p1503596967000456

[2017-08-25 06:20] zzap commented on #130
Yes, using the same tools as the rest of make teams is a very much valid point.

Any thoughts @Clorith @Kenshino ?

[2017-08-25 07:46] ntwb opened #132 "SCSS files with empty blocks?"
The following files have empty blocks triggering warnings with the latest stylelint release:

* https://github.com/Kenshino/HelpHub/blob/master/themes/helphub/sass/

  * [navigation/_menus.scss#L38-L40](https://github.com/Kenshino/HelpHub/blob/master/themes/helphub/sass/navigation/_menus.scss#L38-L40)

  * [ navigation/_menus.scss#L42-L44](https://github.com/Kenshino/HelpHub/blob/master/themes/hel

[2017-08-25 08:06] mayeenulislam commented on #130
Any concrete decision on using Grunt?

If so, I can help [inshALLAH] make the theme portion to integrate with the root `Gruntfile.js`

[2017-08-25 08:31] zzap commented on #132
I like having all those ready for when needed (they don't get in `.css` if empty anyway) but if warnings are triggered then we should remove them.

Looks like `_buttons.scss` is not needed at all.

[2017-08-25 09:33] ntwb commented on #132
There's another instance after the comment is removed from here:
• https://github.com/Kenshino/HelpHub/blob/master/themes/helphub/sass/elements/_elements.scss#L5-L9

[2017-08-27 02:49] ntwb commented on #132
I've removed the above empty blocks in #133

[2017-08-27 03:10] ntwb commented on #127
Cherry picking some of the following PR is what we need here I think:

https://github.com/WordPress/gutenberg-theme/pull/15/files

[2017-08-27 03:17] ntwb opened #134 "Drop PHP 5.6 testing from the Travis CI build matrix"
WordPress.org currently runs PHP 7.0, so there's no need to test PHP 5.6 on Travis CI is there?

Via https://wordpress.slack.com/archives/C02QB8GMM/p1499347132827278

[2017-08-27 03:25] ntwb opened #136 "Update remove `xdebug` detection in `.travis.yml`"
Merge updated logic from https://core.trac.wordpress.org/changeset/41177

[2017-08-27 03:30] ntwb opened #138 "Update to PHPUnit 6.x for PHP 7.x testing"
Merge required upstream changes from https://core.trac.wordpress.org/changeset/41294

Best to wait until #134/#135 is merged, or not to avoid conflicts in the `.travis.yml` file

[2017-08-28 01:56] #136 closed, assigned to nobody

[2017-08-28 06:40] #134 closed, assigned to nobody

[2017-08-29 19:01] danieltj27 opened #141 "PHP warning for require() in header.php on line 29"
I'm wanting to help contribute to the HelpHub so I setup a brand new site to get going and it I get a PHP warning about a line in header.php.

The error is:
[code]

The line in question is:
[code]

I had a quick Google and it seems that (I didn't know this although have never needed to try it) that [require doesn't play nicely with requiring files from a different domain](https://stackoverflow.com

[2017-08-29 20:02] mayeenulislam commented on #141
I think you missed the `php.ini` settings mentioned in the [Contributing note](https://github.com/Kenshino/HelpHub/blob/master/CONTRIBUTING.md#local-install) - Local Install Point 8.

[2017-08-29 20:19] danieltj27 commented on #141
Yep, I missed that one. Thanks.

[2017-08-29 20:21] mapk opened #142 "Homepage Design"
We need a homepage design for the website. I've put together a quick mockup that provides something visual for us to talk about.

**Notes**

1. The new design is inline with the new design patterns for wporg.
2. I've included every link from the [Codex homepage](https://codex.wordpress.org/). This gives us a starting point, but I don't like a page full of links. We should discuss how to restructur

[2017-08-29 20:42] danieltj27 commented on #142
I think [Support](https://wordpress.org/support/) does this quite well with a mixture of images and text which splits it up nicely. What are your thoughts? That might be a good approach considering it's something already in production right now.

[2017-08-29 20:55] mapk commented on #142
Yes, Support is nice.  I think in order to get there, we need to discuss what content should be displayed first. Are all these links necessary? Can we provide better hierarchy? Which links are statistically the most visited?

Answers to these questions should help us figure some of this out.

[2017-08-29 20:59] danieltj27 commented on #142
Personal opinion here; but split them up into three sections with headings of Beginner, Intermediate and Advanced guides. I think that would be quite helpful to people wanting to see what they can do with their current skill level. Then perhaps populate those links with the most viewed.

I think it's also important to note that in terms of classifying what is harder than something else would be re

[2017-08-29 23:03] joyously commented on #142
_I was surprised your image is transparent instead of a white background._
I think people expect to read when they go to a Help page, so I say give them text, not icons. These are a good start, actually.
Is there an existing FAQ anywhere? (forums maybe?) That could be a start for what should be prominent.
I do not like centered text. It is harder to read and looks messy to me.

[2017-08-29 23:34] mapk commented on #142
As for a place to start, I started with the homepage of the [Codex](https://codex.wordpress.org/). That's where I got all the links.

I agree about the centered text. With this many links stacked, it's very difficult to read.

True, but it's always nice to break up content with visual cues that make it easier to read.

[2017-08-30 01:45] ntwb commented on #141
FYI: I think once #127 is sorted we'll be able to remove those instructions

[2017-08-30 12:00] #138 closed, assigned to nobody

[2017-08-30 12:07] Clorith commented on #127
Sounds about right, not just cherry picking, we want that whole PR I believe

[2017-08-30 16:20] mayeenulislam commented on #141
@ntwb for now we can close the issue. :smiley:

[2017-08-31 02:56] Clorith commented on #142
What should be on the front page was already workshopped over a period of time way back when, hopefully @Kenshino still has the documents on that?

[2017-08-31 07:56] ntwb commented on #130
Fixed in #133

[2017-08-31 07:56] #130 closed, assigned to ntwb

[2017-08-31 07:56] ntwb commented on #132
Fixed in #133

[2017-08-31 07:56] #132 closed, assigned to nobody

[2017-08-31 07:57] #141 closed, assigned to nobody

[2017-08-31 16:56] zzap commented on #142
I like the splitting idea and really like how Support did it. However, I'm not sure that classification by user's knowledge level is really helpful to user. It might be easier for us to organize topics that way but as end user, in need for help, from personal experience I found most helpful way was to see general description of my problem. Just like Support has with "Installing WordPress", "Fixing

[2017-09-01 02:40] atachibana commented on #142
First of all, I would like to follow the past discussion and conclusion that @Kenshino would provide, and belows are just my 2 cents...

As @zzap  says, I prefer the structure that Support Team has. It means, in the Homepage, we would have Section (or icon) of Installing, Updating, Using, Managing, etc., and each section has its own page. This structure is similar to the Support page of wordpress.

[2017-09-04 23:31] samuelsidler commented on #142
Good start on the homepage mockup. A few comments:

* The term "HelpHub" isn't a public-facing one. The site is "WordPress.org Support" so the title of it can probably stick with "Support", keeping in mind that the forums are a subset of the Support section.
* Has there been an attempt at thinking through what sections would be useful for users? For example, I'd imagine that a "What's new in WordP

[2017-09-06 19:10] zzap commented on #142
We started discussing search functionality in greater detail last week on bug scrubs. Desired functionality is to [prioritize documentation](https://wordpress.slack.com/archives/C02RP4WU5/p1504200292000047) over forums (assuming documentation covers most common questions). This is so that workload on forums is reduced to more specific situations which can't be found in HelpHub articles.

On the ot

[2017-09-14 17:00] #49 closed, assigned to zzap

[2017-09-19 15:23] nukaga commented on #142
Hi. I imagine that this page will translate into many languages.
Then the centered text seems very inconvenient.

[2017-09-21 17:15] #5 closed, assigned to nobody

[2017-09-21 17:33] #42 closed, assigned to carl-alberto

[2017-09-22 08:08] nukaga commented on #7
Hello. I thought about the voting function.
Samsup may be difficult to understand depending on the region of the world.
I made a design to choose with Yes or No.

![1](https://user-images.githubusercontent.com/3480985/30735069-9c5fbae4-9fb8-11e7-8cf7-57e1bc375eeb.png)

I think it would be great if the comment box only appeared after the user selected yes or no.
Do you want the comment to be visibl

[2017-09-27 20:29] Clorith commented on #7
We really only need feedback if the article wasn't helpful, so no, keep it hidden.

[2017-09-28 07:03] khoipro commented on #142
Hi,

I'm owner of Frontend design idea for creating DW Knowledge Base (http://demo.designwall.com/dwkb/).

Just confirm we should have left alignment at default and right alignment for RTL languages.

Also if you need a mockup, let me know. I hope we can contribute it very soon rarely than currently.

[2017-09-28 12:06] nukaga commented on #7
Thanks for the feedback. @Clorith
I will design a screen to send comments.
It will also upload.

[2017-09-28 13:23] khoipro commented on #126
`.entry-content` in this case should have `font-size: 1rem`. I'm not sure `rem` can be used for that case, but from my test it works very nice.
Also `line-height: 1.5` seems readable rarely than default.

[2017-09-28 13:25] khoipro commented on #126
TOC did not follow a right alignment for table content. Is this `special` we keep? I strongly recommend don't do that.

Screenshot: http://prntscr.com/gqrj96

[2017-09-29 02:45] khoipro commented on #7
@nukaga The button should follow a color pattern as a current design. 👍

[2017-09-29 06:32] nukaga commented on #7
@khoipro Thanks for the feedback😊
From to issue #142 , "a color pattern" will be followed " https://wordpress.org/support/ "?
If so, I will make it.

[2017-10-06 01:06] khoipro commented on #7
@nukaga Just try to make like that. I think it should be ok!

[2017-10-06 01:11] khoipro commented on #142
The difference between section (for example, if a section has 7 links while another has only 5 links), should be followed using `display: flex`.

[2017-10-06 09:05] nukaga commented on #7
Thanks for feedbacks!

I tried to match a color pattern as a current design.

**Blue button**
![blue](https://user-images.githubusercontent.com/3480985/31270680-44beeb76-aac0-11e7-80c8-a14b29467bef.png)

**Gray button**
![gray](https://user-images.githubusercontent.com/3480985/31270699-615d6848-aac0-11e7-825f-fc6bca3cc6e3.png)

There are two action buttons with a current design.
Blue is more criti

[2017-10-06 09:23] nukaga commented on #7
I designed the comment box.
That is very simple.
I think the comment box only appeared after the user selected yes or no.
![comment](https://user-images.githubusercontent.com/3480985/31271702-605be75a-aac3-11e7-9787-13c5629696f7.png)

[2017-10-10 20:16] zzap commented on #7
Can we offer more guidelines for this feedback?

I think we would have more people willing to leave feedback if we saved them from typing as much as possible.

### Example

They clicked "no" and new set of questions show up (these could be just checkboxes):

- Following steps in tutorial doesn't give promised result
- Tutorial is not for claimed knowledge level (it is more difficult)
- Tutorial is

[2017-10-10 20:43] zzap commented on #142
I'm afraid we are far into design here while what's presented is just a mockup.

@mapk wrote:

We can't move forward with this issue until we know what content this page will present. I would really love the content maintainers, @atachibana and the rest, to jump in. We already have some ideas in [comment above](https://github.com/Kenshino/HelpHub/issues/142#issuecomment-326472878):

also [here](ht

[2017-10-10 20:51] #109 closed, assigned to zzap

[2017-10-12 08:56] atachibana commented on #142
@zzap

OK, I will write down my idea into the wiki, and make links to each page.

https://github.com/Kenshino/HelpHub/wiki/WordPress-HelpHub-Homepage-Contents

[2017-10-12 15:09] atachibana commented on #43
WordPress Versions Archive is the summary page of version information.
Already HelpHub defines custom post type for version document

Custom Post Type page
https://wp-helphub.com/wp-admin/edit.php?post_type=helphub_version

Example document.
https://wp-helphub.com/wordpress-version/version-4-5-2/

This issue expects summary pages that is similar to
https://codex.wordpress.org/WordPress_Versions

I

[2017-10-18 01:21] khoipro commented on #142
I tried to break more things we should have in Helphub. Maybe we can group by a short keywords likes "Posts", "Pages", "Media" (try to use the same menu from WordPress Dashboard).

OVERVIEW
- History
(Preparing before installing)
- Choose WordPress Hosting
+ Standard cPanel Hosting
+ VPS Hosting
+ Managed WordPress Hosting
- WordPress.com vs WordPress self-installed.

INSTALLING
- Installing WordP

[2017-10-21 14:57] atachibana commented on #142
@khoipro Thank you. I merged your comment into the wiki.

[2017-10-21 15:01] atachibana commented on #142
Extended every sections and assigned existing HelpHub contents.
HelpHub Homepage should pick up h1 & h2 (section title) and configure.
https://github.com/Kenshino/HelpHub/wiki/WordPress-HelpHub-Homepage-Contents

By the way, this page is so useful, isn't it? 😃 We should keep such sitemap-like page to keep whole view.

[2017-11-07 14:56] atachibana commented on #43
Version archive design.
- Ordered by Major version from New to Old. (4.8 -> 4.7 -> 4.6 ...)
- In each Major version, ordered by minor version from old to New (4.8.1 -> 4.8.2 -> 4.8.3 ...)

![image](https://user-images.githubusercontent.com/8876600/32499785-e16f5b30-c416-11e7-8f3a-adaefebc9007.png)

[2017-11-07 15:17] khoipro commented on #142
I suggest some more topics:

Widgets (already)
Using existing WordPress widgets
Widgets from plugins

Appearance (already)
Additional CSS (via Customizer)

[2017-11-07 15:20] khoipro commented on #142
Add more topics:

Backups
Backups via WordPress plugins

[2017-11-07 15:21] khoipro commented on #142
Typography check: "Common WordPress Erros"

[2017-11-11 04:49] atachibana commented on #126
Please refer PR #149  as the first step, Font & layout only.

I noticed that if we change 'single-post' to 'single-handbook' in .scss, then archive is also covered.

[2017-11-11 05:14] atachibana commented on #142
@khoipro

Thanks for the comments.

Original document is a long article and should be break down into some pages.
I added the comment.

Direct CSS should be avoided. In fact, Verion 4.9 prompts warning againt direct edit.

Plugin is already mentioned in the article.

Fixed.

[2017-11-13 21:44] zzap commented on #126
Fixed with #149

[2017-11-13 21:44] #126 closed, assigned to zzap

[2017-11-13 21:58] zzap commented on #111
On last meeting in [slack](https://wordpress.slack.com/archives/C02RP4WU5/p1510069269000341) it's been discussed about the criteria by which this sidebar will be populated.

The [suggestion](https://wordpress.slack.com/archives/C02RP4WU5/p1510069899000584) is to include people working on content and design and try to figure out what is the most helpful for the user. `Related posts` is keyword here

[2017-11-21 08:30] atachibana commented on #111
@zzap This is just my comment.

Relating articles view or Category/Tag views are useful.

But I prefer the TOC of HelpHub and marker of current articles so that Handbooks have.
https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/
Or, as like as PHP Help:
http://php.net/manual/en/tutorial.forms.php

Current codex has many duplicated or similar articles in it, because people

[2017-11-26 00:53] atachibana commented on #142
@mapk  @zzap @Kenshino

I created mock up of the homepage.
The layout design is based on the current Support page of wordpress.org (https://wordpress.org/support/) and replaced the icons and text. If I can get the source code of the page, I will modify and adjust it (ex. Font Size or Balance between the block).

- Icons are dashicons (https://developer.wordpress.org/resource/dashicons/#calendar-al

[2017-11-26 04:12] joyously commented on #142
I think it's difficult to read links separated by slashes.
My preference is to remove the icons or make them much smaller, and put the links one per line or as a nested list or something. Part of why they are difficult to read is that they are centered.
Also, I don't know what "Maintenances" is. Ooo, and "Upgrtade".

[2017-11-26 08:40] atachibana commented on #142
@joyously
Thank you for the comment.
I modified the page.

Question: What do you call for daily operation such as backup, recovery or optimization?

![image](https://user-images.githubusercontent.com/8876600/33238409-7329827c-d2d0-11e7-9977-08793640a108.png)

[2017-11-26 14:10] joyously commented on #142
That looks much easier to read!

I had just never seen it pluralized. It is better without the 's'.

So, before, the headings were not links? (not underlined) Are they links now? And the individual topics are not?

[2017-11-26 23:09] atachibana commented on #142
@joyously

Thank for the kind explanation.

In my idea, all of texts are links to each individual topic. That must be convenient for users.
The underline of Header section in above image is just decoration :-)

[2017-11-27 18:10] mapk commented on #142
Looking good, @atachibana! Thanks for working on it. This really helps us narrow in on the content.

If we're going to include several links under a specific topic, we should follow the same design styles as the [Support page](https://wordpress.org/support/) like this below:
![screen shot 2017-11-27 at 10 02 46 am](https://user-images.githubusercontent.com/617986/33281510-5c1bcdda-d35a-11e7-8efa-0

[2017-11-29 16:46] atachibana commented on #142
@mapk Thank you for the comment.
I've enhanced your comment.

![image](https://user-images.githubusercontent.com/8876600/33386992-88e0151c-d56f-11e7-96b5-c2357194489c.png)

[2017-12-01 03:21] joyously commented on #142
This has the same problems as before. Don't center text in paragraphs! It is difficult to read.
I still think the icons are too large. They are not the main focus (they are actually visual noise and I prefer them gone, but I know a lot of people like them). Will there be more than these 8 sections?
I think the blue lines look really odd.

[2017-12-01 05:01] atachibana commented on #142
@joyously

I am using the same template with current support page.
https://wordpress.org/support/
Don't we need some unity image for font & icon size?

For the centered text or linke line, can easily customize.

For the contents, I made wiki and picked up main chapter and section from it.
https://github.com/Kenshino/HelpHub/wiki/WordPress-HelpHub-Contents
If you have some lacking topic, please fee

[2017-12-03 16:34] zzap commented on #111
We could start with it and see what's the best fit. As we would need different links on different posts it might be too much of work setting it up manually. Maybe we could have it pre-populated by some criteria with option to manually edit it.

[2017-12-03 16:38] zzap commented on #142
I like this latest mockup. I'd maybe just give it more space between sections in the same row.

[2017-12-03 19:41] Kenshino commented on #111
I think a first MVP version is to just use Jetpack's Related Post functionality. See https://jetpack.com/support/related-posts/

I feel the final version would be something a combination of curated content and automation.

If curated content are selected, e.g. selecting specific articles that we know are better related inside a meta box. These 'Related Posts' selected in a manual manner would be c

[2017-12-04 05:41] atachibana commented on #142
I believe we can continue further discussion on PR with real template files.

I'll create the first template.

Can I refer the source code of Support page? (https://wordpress.org/support/)
^^ @mapk ?

[2017-12-04 13:55] mapk commented on #142
@atachibana yes you can. I'm not sure if it will all work with this instance of WordPress though, but you can try.

Some further suggestions regarding the mockup are...

1. The lines separating the links should be grey, not blue.
2. Some of the icons don't seem to be the best representation of the content (ie. Adv Topics, Install & Upgrade).
3. The copy should be reviewed and revised. (maybe by th

[2017-12-04 15:42] mapk commented on #111
@Kenshino no need for the "Chapter."  My only suggestion would be to keep the same design, but the content can be populated however.

[2017-12-04 15:53] atachibana commented on #142
@mapk thank you.

Where can I get the template file? Is there a repository?

And, I forgot saying most important thing.
All texts are dummy or some kind of English sentence but not real one :-)
I would like to ask native speaker or marketing team or anyone.
In working demo, I will use 'XXX' or 'Lorem ipsum'.

About Icon, I would like to ask everyone to search good ones from here.
https://developer

[2017-12-04 16:23] mapk commented on #142
Thanks, @atachibana!
You can find all the files here: https://meta.trac.wordpress.org/browser#sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-support

Thanks for clarifying the text issues. Let's get in touch with the marketing team once we know if we have the right content.

**THE MOST IMPORTANT THING RIGHT NOW IS CONTENT.**

I can't stress this enough. We need to get some agree

[2018-02-06 13:56] tomjn opened #152 "Fix installation"
There's no reason to have to empty out a wp-content folder from a fresh install.

Instead, add a `provision` folder, and copy the custom site template provisioning files, move everything to a `public_html/wp-content` folder, hardcode the domains etc, and the new install instructions would be:

Alternatively, copy the custom site template into a new repo, and add a line that does:

[code]

to `prov

[2018-02-11 01:29] atachibana commented on #142
@mapk @zzap @Clorith @Kenshino

To discuss about @mapk's question 1, 3 and 4, I created wiki for Homepage Contents.
Now it was filled with the content from my design plan.
https://github.com/Kenshino/HelpHub/wiki/HelpHub-Homepage-Contents

Please refer it and add the comment here or modift it direct.

[2018-02-13 15:46] zzap opened #153 "Content migration script"
## **Issue Description**

HelpHub articles are going to be CPT under support theme so we need a script to migrate them from pages to `article` cpt.
## **Context**

Currently all user documentation is written as 'Post' post-type. We'll need to rename it to the article cpt covered in #156 and then migrate the content over to the new CPT.

A CLI script would be ideal in this case.

[2018-02-16 06:06] Clorith commented on #127
Closing out in favor of the changes coming with #154

[2018-02-16 06:06] #127 closed, assigned to nobody

[2018-02-16 06:09] Clorith commented on #41
This gets covered by #154

[2018-02-16 06:09] #41 closed, assigned to nobody

[2018-02-16 06:16] Clorith commented on #9
Tagging this as `maybe later`, Jetpack now includes ES for searches, and it's slowly being rolled out to various parts of WordPress.org.

For now, as we're a part of the support subsite, all searches there are directed through Google for performance reasons, so let's not put too much effort in here at this time.

[2018-02-16 06:19] Clorith commented on #8
Punting this, for the reason mentioned in #9. As it's a Google search we can't do much with the results visuals, lets revisit this in a later phase when we start looking at search alternatives.

[2018-02-16 08:33] ntwb commented on #9
Now that HelpHub will land on /support this will use the proposed search enhancements as part of https://meta.trac.wordpress.org/ticket/3388, removed `maybe later` because of this

[2018-02-17 08:07] Kenshino commented on #152
@tomjn want to submit a PR?

[2018-02-17 08:10] Kenshino commented on #119
@zzap can we close this?

[2018-02-17 08:16] Kenshino commented on #142
@atachibana looks good to me!

[2018-02-17 10:30] zzap commented on #119
Sure, go ahead.

On 17 Feb 2018 09:10, "Jon Ang" <notifications@github.com> wrote:

[2018-02-17 16:01] #119 closed, assigned to zzap

[2018-02-18 08:19] Kenshino opened #156 "Create article CPT"
## **Issue Description**

Because we're integrating Helphub into WordPress.org/support , using default post types such as Posts or Pages for User Documentation isn't necessarily the best idea.

Article
## **Context**

We'll need to add a new post type declaration perhaps - helphub_articles with rewrite to 'articles' using the Helphub CPT plugin.

[2018-02-18 09:00] miya0001 commented on #153
I developed a wp-cli command to do this for now.
https://github.com/miya0001/helphub-command

## Installing

[code]

## How to use

It has only one command which can convert post-type from `page` to `article`.

[code]

See filters to migrate to the `article` and if you need something improvements, please open an issue. 😊
https://github.com/miya0001/helphub-command/blob/master/command.php#L18-L21

[2018-02-18 10:14] Kenshino opened #157 "Refactoring metaboxes and CPT creation"
## **Issue Description**

The current CPT creation uses a custom plugin that won’t see regular maintenance. It’s better to use a maintained plugin such as [CMB2](https://github.com/CMB2/CMB2) and [extended-CPTs](https://github.com/johnbillion/extended-cpts) etc.
## **Context**

Phase 2 of Helphub will require greater capabilities that the current CPT plugin offers. It’ll make sense for us to fix t

[2018-02-18 19:08] Kenshino commented on #153
Looks good! But we'll have to edit the cpt name to something that is more unique. Article is not an unique enough name. But more important, we'd have to wait till #156 is done.

Really fast and good work @miya0001 !

[2018-02-25 12:07] Clorith commented on #156
Fixed in 3274d16765aaf81bb5f7379015683855e35e493f and 94a857d33ff1c5d9dea240498eb21a8196ff67ec

[2018-02-25 12:07] #156 closed, assigned to nobody

[2018-02-26 12:38] atachibana opened #166 "dashicons are not displayed when user is logoff"
## **Issue Description**

Dashicons in frontpage of HelpHub is not displayed when user is logoff from the site. If user login to it, then dashicons will be shown.

## **Context**

This is not critical issue, just cosmetic.

## **Steps to reproduce:**

1. Log off from wp-helphub.com
2. Visiti https://wp-helphub.com
3. Dashicons are not displayed.
## **Expected Result:**

Dashicons should be display

[2018-02-26 19:20] #166 closed, assigned to Clorith

[2018-02-27 07:51] hlashbrooke opened #168 "Homepage tagline wording"
This is a minor issue, but the wording of the tagline on the homepage could be improved a bit. The word "got" is generally not acceptable in most professional contexts and a better alternative is always easy to find.

The current wording is:

If you want to stick with the same sentiment, then my suggested alternative is:

That being said, I'm not a big fan of the use of the first-person in this co

[2018-02-27 17:42] carl-alberto commented on #35
@Kenshino / @zzap is this still relevant, upon checking https://wp-helphub.com/, no need for the widgets anymore in the homepage?

[2018-02-27 22:56] zzap commented on #35
Yes, this is obsolete now. Thanks @carl-alberto

[2018-02-27 22:56] #35 closed, assigned to carl-alberto

[2018-03-05 14:33] mariovalney opened #169 "Update CONTRIBUTING.md with new plugin"
After #154 we should update CONTRIBUTING.md to update the name of theme and plugin.

[2018-03-06 00:19] ntwb commented on #169
@mariovalney Can you create a pull request with those changes you made in your fork please ?

[2018-03-06 00:21] ntwb commented on #169
Oh you already have in #170, thanks 👍

[2018-03-06 00:22] #169 closed, assigned to nobody

[2018-03-06 00:33] mariovalney opened #171 "Some CSS (and log) files aren't ignored"
After run `grunt sass` the CSS directory under support-helphub plugin is not ignored.

And as we are talking about `.gitignore`, the debug.log file is not ignored as well.

Can we add both to `.gitignore`?

- plugins/support-helphub/inc/helphub-contributors/public/css/
- debug.log

[2018-03-06 01:51] ntwb commented on #171
What is generating the `debug.log` file? Is it npm's `npm-debug.log`?

I think the `.gitignore` just needs updating the previous paths to the new paths rather than being add to `.gitignore`, see https://github.com/Kenshino/HelpHub/blob/master/.gitignore#L16-L17

[2018-03-06 02:08] mariovalney commented on #171
No. This is the regular `debug.log`. It was not generated by `grunt sass`, but when I (by the first time) tried to build the HelpHub.

_It's a warning about `Call to undefined function bbp_get_template_part`._

I was planning to take a better look when I have some time to check it was not a mistake when installing the HelpHub. So I just added it to this issue (about ignoring it).

Yes! You are rig

[2018-03-06 02:56] ntwb commented on #171
That's a bbPress function, and the error I expect will be because the bbPress plugin is not activated and/or installed.

If you want to create a PR to update the path for [`.gitignore`#L16-L17](https://github.com/Kenshino/HelpHub/blob/master/.gitignore#L16-L17) that would be great, lets hold off on adding `debug.log` to `.gitignore` for now :)

[2018-03-06 09:05] Clorith opened #172 "Add custom roles"
We'll need a new custom role for HelpHub editors.

They will need to be able to modify the following:
- Widgets (the front page is a widget container for flexibility, to avoid locking us in)
- Menus (The widget we've prepared for this purpose uses menus for ease of use even from a non-technical point of view)
- Posts (we use the default post/page capabilities for our own post type capability check

[2018-03-06 15:09] Kenshino commented on #153
@miya0001 we need the articles to retain the relationship to terms in categories and custom taxonomies.

E.g. Post + Category + Persona (custom tax), + Experience (custom tax) should end up as

Article + Category + Persona (custom tax), + Experience (custom tax)

[2018-03-06 16:39] mariovalney commented on #171
Yes, it's not. Should it be (nothing about it on [CONTRIBUTING.md](https://github.com/Kenshino/HelpHub/blob/master/CONTRIBUTING.md)) ?

Done for CSS path ([#173](https://github.com/Kenshino/HelpHub/pull/173)), but why not add `debug.log`? It's normal ignore log files.

[2018-03-07 06:59] carl-alberto commented on #152
When I tried following all the new local installation instructions, I encountered an error https://cloudup.com/iGgUEgVct5P

It seems that the bbPress plugin is a requirement? Got rid of the error after installing the said plugin.

[2018-03-07 07:22] carl-alberto commented on #172
Hi @Clorith, if no one is working on this one yet, maybe I can try helping out in this issue.

Basically, this will have all the capability of the default editor plus the 3 capability that you mentioned above?

[2018-03-07 07:38] carl-alberto commented on #152
It also looks like the widgets need to be setup-ed, there seems to be some styles missing too when I compare it to wp-helphub.com

https://cloudup.com/i7grxitNiy1

[2018-03-07 07:39] carl-alberto commented on #171
I also encountered the same issues that you have @mariovalney, I commented about it in https://github.com/Kenshino/HelpHub/issues/152, maybe the https://github.com/Kenshino/HelpHub/blob/master/CONTRIBUTING.md doc needs updating regarding the bbPress installation as well as some blocks/widgets that needs to be configured after the installation.

[2018-03-07 08:19] ntwb commented on #171
Fixed via https://github.com/Kenshino/HelpHub/commit/e6c7616f4160eda9443d8ad6a13a883c6cb3e099

[2018-03-07 08:19] #171 closed, assigned to nobody

[2018-03-07 08:20] ntwb commented on #171
A follow up issue and PR to add bbPress as required in CONTRIBUTING would be 👌

[2018-03-07 08:29] Clorith commented on #172
Yup, that's exactly right, and nobody's picked it up yet I believe.

[2018-03-08 18:20] miya0001 commented on #153
@Kenshino

I updated `wp helphub migrate` command to change post-type from `post` to `helphub_article`.
It looks working fine as expected. 😄

![](https://www.evernote.com/l/ABX2ED-MZQhBFZ4mspCBJnlH6RCNorFzOuQB/image.png)

Thanks 😸

[2018-03-08 18:58] melchoyce commented on #142
@mapk Is there a final design for this? What can the design team do to help?

[2018-03-09 08:23] atachibana commented on #142
@mapk @Kenshino
Who is the owner of writing "Block description" under each section?
Marketing Team or Design Team or ?

[2018-03-09 23:15] mapk commented on #142
@melchoyce We're super close. This is the current version I believe. https://wp-helphub.com/

That said, a few things need to happen with it.

1. The WordPress icon needs to be the actual logo. The icon line weights are too thick.
2. All icons need to be reviewed. Some of them are probably not the best icon for the section its representing.
3. As @atachibana  has questioned above, we need some des

[2018-03-12 09:05] danieltj27 opened #181 "Titles that are called Pages are floated incorrectly"
I wrote the content for the [Post Types page on the HelpHub](https://wp-helphub.com/advanced-topics/about-post-types/) staging site and noticed that the Pages subtitle is floated to the right when all other titles are to the left.

This is because the `#pages` ID has `float: right;` applied in `wp4.css` on line `1365`.

Adding the following CSS fixes this issue:

[code]

The post was created and e

[2018-03-12 23:16] ntwb commented on #181
.... `wp4.css`, the file where CSS goes to die on w.org 😂

Thanks @danieltj27 👍

[2018-03-13 15:25] mapk commented on #168
I like this request. Once I get my local environment set up, I can make this change.

[2018-03-13 15:57] zzap commented on #142
It's been decided on [meeting](https://wordpress.slack.com/archives/C02RP4WU5/p1520954100000642) that @Clorith and @atachibana should take lead on these items.

[2018-03-13 22:53] #168 closed, assigned to mapk

[2018-03-15 11:09] Clorith commented on #142
I know I mentioned this, but posting for reference as well.

Item 4 is covered by the forums archive page (`/support/forums/`), this will adapt the current support front page when HelpHub goes live, so we have a good place to link to, and it's an expected location as breadcrumbs lead to this by default already. (At least that's the current plan, any iteration I'm open to input from the crew here,

[2018-03-15 12:56] mapk commented on #142
Perfect!

Not necessarily. The icon is made to work well at a smaller size, I believe. It becomes a problem when we increase the icon to become a larger graphic because now the line-weights don't match the actual logo. Is it possible to use the logo within the widget? Or maybe we could create an icon that is exactly the weight of the logo?

[2018-03-16 15:16] mapk opened #185 "Avoid using absolute font-size measurements"
In this CSS file `plugins/support-helphub/inc/table-of-contents-lite/assets/css/style.css` I noticed that we're using absolute font-size measurements because the inherited style wasn't working correctly.

![screen shot 2018-03-16 at 8 10 27 am](https://user-images.githubusercontent.com/617986/37528496-04fc185a-28f2-11e8-8f53-fd13799e1c92.png)

Let's avoid this at all costs, if possible. :) I recom

[2018-03-16 16:26] mapk opened #186 "Fix the Table of Contents to mimic the Handbooks"
**Current TOCs**

![screen shot 2018-03-16 at 9 25 21 am](https://user-images.githubusercontent.com/617986/37532328-f9a7749a-28fb-11e8-82a4-d052016fe220.png)

**Proposed TOCs**

![screen shot 2018-03-16 at 9 25 46 am](https://user-images.githubusercontent.com/617986/37532352-0ad00200-28fc-11e8-9d71-77c560a5a0c3.png)

[2018-03-16 19:12] mapk opened #188 "Post/Article page line width needs to be narrower"
Currently our individual article pages are very wide which makes it difficult to read. I have a solution, but first need to ask...

@zzap @Kenshino @Clorith

Are these pages not going to conform to the [Handbook styles with the left grey sidebar](https://make.wordpress.org/design/handbook/)?

If not, will these [pages have any sort of sidebar ](https://wordpress.org/support/welcome/)that allows ea

[2018-03-16 19:18] mapk opened #189 "Article/post titles are too large"
Currently our article titles are just too large. They should probably follow the standard size being used elsewhere with the new designs.

**Current title size**

![current-title-size](https://user-images.githubusercontent.com/617986/37540273-96230e94-2913-11e8-8dee-0d545240336c.png)

**Standard being used elsewhere on wporg**

![screen shot 2018-03-16 at 12 15 09 pm](https://user-images.githubuse

[2018-03-18 04:39] Clorith commented on #188
There will be two types of content, articles (what is going in with the first iteration) and a so far un-named terminology.

Articles will not have sidebars, they are supposed to be simple texts, for a single subject. Ideally without the need for a ToC (we'll revise the ToC need if we see one, but it shouldn't be needed for a simple article).

The other, unnamed, type will be longer aticles, which

[2018-03-18 04:43] Clorith commented on #142
We can modify the widget to accept an image as well as dashicons, not a problem at all (and might be more flexible in the long run, so good thought!)

(I definitely think we need a dashicon that follows the logo weight as well in any event :) but that's more of an aside)

[2018-03-18 04:47] #186 closed, assigned to mapk

[2018-03-18 11:17] Clorith commented on #172
How are things coming along with this issue?

[2018-03-19 08:40] carl-alberto commented on #172
I got an initial PR for this https://github.com/Kenshino/HelpHub/pull/192

Basically, this is an editor role plus the `edit_theme_options` capability.

Things that i see that need improvements are:
- Delete the custom role when the support-helphub plugin is deactivated
- Remove /wp-admin/customize.php access
- Remove /wp-admin/themes.php access

I think it fulfills the basic requirement, but pleas

[2018-03-19 13:12] #188 closed, assigned to nobody

[2018-03-19 13:13] #189 closed, assigned to mapk

[2018-03-19 17:14] Clorith commented on #172
Removing the role sounds like a good candidate for a global `uninstall.php` on the plugin, but I'm not super worried about that for now.

We will definitely want to block access to `themes.php` as a minimum, the customizer _should_ pick up on capabilities here and there, as it can be handy to have the visual preview when "building" the blocks for the page, seeing what link texts work, what descrip

[2018-03-19 18:39] carl-alberto commented on #172
Ok, added restriction to themes.php for that custom role in this commit https://github.com/Kenshino/HelpHub/pull/192/commits/15ca0b27252e346a39d6b8e787d3772e1df59aaa

[2018-03-20 15:09] Kenshino commented on #153
Let's run that this week!

[2018-03-21 11:21] #172 closed, assigned to carl-alberto

[2018-03-21 11:39] carl-alberto commented on #157
Anyone assigned on this one @Kenshino? Would love to help on this part.

[2018-03-27 14:54] mapk opened #199 "Homepage: Revise icon selection for the homepage"
The current homepage can be viewed here: https://wp-helphub.com/

![wp helphub com](https://user-images.githubusercontent.com/617986/37975349-f5924a06-3193-11e8-9910-3ac17566a807.png)

The icons need to be revised, and new ones created if need be. Some of these icons aren't the best choice for the category they represent.

I've created a new issue to break this out and make it more manageable. The

[2018-03-27 14:59] mapk commented on #199
- [x] **Getting Started** - WP logo needs to be actual logo

- [x] **Installing WordPress** - Needs new icon.

- [x] **Basic Usage** - Needs new icon.

- [x] **Basic Administration** - Good.

- [x] **Customizing** - Good, maybe?

- [x] **Maintenance** - Good.

- [x] **Security** - Good.

- [x] **Advanced Topics** - Needs new icon.

- [x] **Troubleshooting** - Needs new icon.

[2018-04-06 08:34] Kenshino commented on #199
Have we gotten anywhere with this @mapk

[2018-04-17 14:34] mapk opened #201 "Articles: Languages section need to be styled differently"
Currently, the languages section takes up a lot of room if the page is offered in different locales.

![screen shot 2018-04-17 at 7 22 56 am](https://user-images.githubusercontent.com/617986/38875957-5a0583e0-4210-11e8-8884-094356cd43b3.png)

Here are a couple ideas of what we could do here.

**1. Turn it into a dropdown.** Place on this would need some work.
![screen shot 2018-04-17 at 7 32 10 am

[2018-04-19 00:03] mapk commented on #199
I switched out a few icons, and edited some of the description text. I think we're good to go. Here's the final version:

![wp helphub com](https://user-images.githubusercontent.com/617986/38964225-7b07a544-432a-11e8-9833-be60e3617f83.png)

[2018-04-19 00:04] #199 closed, assigned to mapk

[2018-04-19 06:15] ntwb commented on #199
I believe the plan is to merge the above with what already exists on https://wordpress.org/support/ ?

If so we'll need to get that design sorted out also

[2018-04-19 06:15] ntwb commented on #199
cc @Kenshino @Clorith @mapk ^^

[2018-04-23 15:06] mapk commented on #199
@ntwb So there's a page here: https://wordpress.org/support/forums/ which lists out all the forums, but it's pretty basic right now. We definitely need to link to it from this new homepage.

[2018-04-23 15:11] mapk opened #202 "Homepage: Icon and text alignment"
The WordPress logo is an image and is 108px by 108px, but  the icons are all 107.28 by 107. This is causing the content under the WP image to shift lower than the content on the other sections. It no longer aligns correctly.

![alignment](https://user-images.githubusercontent.com/617986/39135512-f6a4f994-46cd-11e8-90a7-7d826c120b93.png)

Can this be fixed?

[2018-04-23 15:29] mapk commented on #201
Another idea suggested by Felipe Elia was to use a similar dropdown to the WP15 site.

![image](https://user-images.githubusercontent.com/617986/39136578-67dc5966-46d0-11e8-854b-e802d10438ea.png)

[2018-04-23 15:41] mapk opened #203 "Content Alignment: Should we center the column of content?"
Currently the content column is aligned to the left.

![screen shot 2018-04-23 at 8 31 41 am](https://user-images.githubusercontent.com/617986/39136751-c736faf6-46d0-11e8-95b4-9ea0fa612fca.png)

If we're not using a sidebar, let's center the column so it looks like this:

![screen shot 2018-04-23 at 8 40 14 am](https://user-images.githubusercontent.com/617986/39137245-fe924130-46d1-11e8-9f7a-11a02

[2018-04-24 01:29] ntwb commented on #199
The list of forums is currently also on the homepage at https://wordpress.org/support/, we're not replacing that with just HelpHub are we?

I thought the plan was to _merge_ the two 🤔

[2018-04-24 01:43] mapk commented on #199
I don’t think we’re including the list of forums on the homepage. It could be an overload of information links.

[2018-04-24 01:51] ntwb commented on #199
I'll rephrase it, I did not realise we are *removing* the list of forums from the homepage.

p.s I'm not sure if that has been discussed or not, I don't recall seeing it discussed.

[2018-04-24 01:58] mapk commented on #199
It’s definitely a discussion worth having, especially if there are strong feelings one way or the other.

We can mock something up if necessary. As I mentioned we’d probably not want to include the links as they are because it would be overwhelming. But maybe we could include the forum topics?

[2018-04-24 02:16] Clorith commented on #199
I'd rather link to the forums list (the `/forums` link) from the front page to avoid information overload.

The goal is to surface self help before the user even hits the forums, having both there will both dump too much information on the user at once, and once you see them are more likely to go "oh a forum, why should I look up my problem when someone can give me the answer".

That was my unders

[2018-04-24 02:20] Clorith commented on #201
Currently these links all go to Codex pages, we will have to revise what the plan is here, for two reasons:

- We shouldn't link to the Codex when we are trying to decommission it.
- We have no connection between articles on different locales on .org, so how do we create a link between different languages, these are curated articles, not something translatable via translate.wordpress.org

We can i

[2018-04-24 02:27] ntwb commented on #199
Cool, I didn't recall that discussion, as in fact it has been had, ignore me 😏

[2018-04-24 02:33] Clorith commented on #199
It was many years ago, I'm all for hearing input on it at this time 😄

[2018-04-30 14:56] mapk commented on #142
Since the homepage is mostly done, I'm going to close this issue. Any other fixes to the homepage should be created under a new issue. Thanks everyone!

[2018-04-30 14:56] #142 closed, assigned to Clorith

[2018-04-30 15:10] mapk opened #204 "Homepage: Add Link to Forums"
As mentioned by @ntwb in #199 we need to add a link to the forums on the homepage of HelpHub.

1. Should this just be a link to the [forum list page](https://wordpress.org/support/forums/)?
2. Should this be a list of the forums?

Some discussion in #199 indicated that too many links and icons could just cause more confusion on the homepage, so maybe it's simply just a link.

[2018-04-30 23:59] ntwb commented on #204
I think if its a list of links without descriptions then as previously noted in #199 it becomes information overload, to that, I think it should be a prominent link.

Here's my really rough copy/paste/edit banner mockup:
![screen shot 2018-05-01 at 9 56 19 am](https://user-images.githubusercontent.com/1016458/39455892-50820bf6-4d26-11e8-85f6-17d03f951051.png)

Scroll down, tada, a big link to the

[2018-05-01 08:04] Clorith commented on #204
I agree that some kind of link is the right way forward, linking them to `wordpress.org/support//forums`.

I'm not sure if a big blue "header block" is the right for the bottom of the page, it doesn't go with the rest of the .org design in my opinion, but I'm no designer so it might make sense, I like the idea of revealing the forum search and encouraging them to look up if the problem has been co

[2018-05-01 09:02] ntwb commented on #204
Indeed, I also am no designer 😏

Come to think of it, there are some new designs for DevHub by @mapk here:

[2018-05-01 23:05] mapk commented on #204
Here's an idea:

![landingpage-desktop](https://user-images.githubusercontent.com/617986/39497731-7fbc1d52-4d59-11e8-9aaf-c120b816496e.png)

[2018-05-03 08:34] Clorith commented on #204
I like that very much, simple, no frills, and no special eye-catcher beyond the fact it's by it self.

[2018-05-03 14:23] #202 closed, assigned to Clorith

[2018-05-07 15:41] zzap commented on #203
It has been decided on the last meeting in Slack to have sidebar and, for Phase 1, keep links to categories archives in there. Languages can be there as well. [Link to discussion in Slack](https://wordpress.slack.com/archives/C02RP4WU5/p1525706110000334)

@mapk volunteered to create mockups for development effort evaluation.

[2018-05-07 15:46] zzap opened #206 "Category Archives Design"
Category archives needs design - https://wp-helphub.com/getting-started/

![category archive](https://box.everhelper.me/attachment/1706549/t36p0dhhgnol1804x8ea/654956-7XQ4hBAYfXYHUEqu/screen.jpeg)

[2018-05-07 16:10] joyously commented on #206
What if the excerpts consisted of the headings that are in the Topics box?
And it looks like the category title is not output. That could help give context.
Do these have any sort of ordering? It looks random.

[2018-05-10 21:05] mapk opened #207 "Article Page: The TOPICS box header font size is too large"
The font size of the topics box is too large.

Here it is on HelpHub
![screen shot 2018-05-10 at 2 03 14 pm](https://user-images.githubusercontent.com/617986/39894235-08165d0e-545b-11e8-8b09-78bdc6f5990c.png)

Compared to the Handbook design elsewhere
![screen shot 2018-05-10 at 2 03 04 pm](https://user-images.githubusercontent.com/617986/39894244-0f5a6402-545b-11e8-86fe-1e144a9d0298.png)

It shou

[2018-05-10 21:43] mapk commented on #203
Here's a mockup of how we can integrate the sidebar. The sidebar would include the related articles and the articles from the archive page, and the language selector.

![desktop - articles](https://user-images.githubusercontent.com/617986/39895808-755f0b68-5460-11e8-8b3a-34a5ed44d5a9.png)

[2018-05-13 15:07] Kenshino commented on #206
@joyously pretty sure just default WP_Query is running it.

@mapk do we have a design for this already?

[2018-05-13 15:14] Kenshino commented on #111
Moving this back into Phase 1 - The content isn't very discoveryable without proper internal linking through sub-navigation elements.

[2018-05-14 16:00] zzap commented on #203
This design should be applied to the sidebar: #111

[Discussion in slack](https://wordpress.slack.com/archives/C02RP4WU5/p1526313358000535)

[2018-05-14 16:07] zzap commented on #33
@atachibana will check if this issue is still valid.

[2018-05-15 13:04] #204 closed, assigned to Clorith

[2018-05-20 08:16] Kenshino opened #209 "Category prefix to permanlink?"
## **Issue Description**

After migrating from Post to Article cpt (#153), the permalink doesn't include the category prefix.
## **Context**

See permalink - https://wp-helphub.com/article/overview-of-wordpress/

## **Question:**

Should we worry about the permalink base?

If we want to drop the categories in the base, we'd have to change the rewrite in the code, which isn't too bad.

But after do

[2018-05-20 08:16] Kenshino commented on #153
Migration script ran and done.

New issue that cropped up from it documented in #209

[2018-05-20 08:16] #153 closed, assigned to Kenshino

[2018-05-20 08:29] Kenshino commented on #185
@Clorith should we be fixing this here or when we commit to meta?

[2018-05-20 08:43] Kenshino commented on #201
We're decommissioning the English Codex (which is most of it yeah) but we can't remove the different languages until we have a plan for translation of the articles.

I think the dropdown is great - except it should be in the side bar.

Thoughts? @atachibana

[2018-05-20 09:27] Kenshino commented on #157
No one, feel free to start on a feature branch @carl-alberto

[2018-05-20 13:25] atachibana commented on #209
I like the new convention:
     "https://wp-helphub.com/article/" + article slug.
because
1) It is simple than old any category basis.
2) we might have another category than "article" in the future.

Is it true? If I access to the following page:
https://wp-helphub.com/getting-started/overview-of-wordpress/
then, redirected to this page.
 https://wp-helphub.com/article/overview-of-wordpress/

It m

[2018-05-20 13:43] atachibana commented on #201
As John says, once we delete an English Codex Page, the links to I18N versions are also deleted.

In the past, when function reference was moved to Code Reference from Codex, the same thing occurred. Non English User cannot jump own I18N version, anymore. We should keep those link in the HelpHub page.

I prefer dropdown box, but it is ok that moving the position to the bottom of contents, or chang

[2018-05-20 13:58] atachibana commented on #33
@Kenshino
I believe we can close this issue because
1) There are no much pages that uses table.
2) Gutenberg supports Table block. We should use/apply it.

[2018-05-20 15:58] #185 closed, assigned to zzap

[2018-05-20 16:19] zzap commented on #207
Fixed in #211 .

[2018-05-20 16:19] #207 closed, assigned to zzap

[2018-05-20 17:49] #181 closed, assigned to zzap, Kenshino

[2018-05-20 18:27] zzap opened #214 "TOC styling"
## **Issue Description**

TOC doesn't reflect parent-child relationship with indentation of child list. Also, alignment is off.

## **Context**

This is possibly caused by overriding old theme (we already had issue with title font size being too large).

## **Expected Result:**

Style should match TOC found [here](https://developer.wordpress.org/themes/functionality/administration-menus/).

![TOC]

[2018-05-21 08:21] Clorith commented on #33
Since we'll be throwing everything into Gutenberg, this works for me 👍

[2018-05-21 08:21] #33 closed, assigned to Clorith, atachibana

[2018-05-21 08:24] Clorith commented on #209
If articles only belong to a single category, this isn't a problem. Are thee any scenarios where they need more than one category, hierarchical categories not included since those are OK as well?

[2018-05-21 15:38] Kenshino commented on #201
@atachibana can you take the original code you wrote, convert that to a widget with a dropdown?

[2018-05-22 03:45] atachibana commented on #201
First, I'd like to propose to hide the current language section by CSS for 1st realse. This 201 will take some time...

If we change this language section to Widget, all pages will have the same language list. Dropdown will show it smart way as just one line even if we register all languages, but, clicking it will cause 404 not found error in almost cases because there are no translated pages. So,

[2018-05-22 05:14] Kenshino commented on #9
@ntwb imo while enabling an ES instance or indexing will certainly help this endeavour on meta, getting it working to an acceptable level would still require a fair bit of work on both the ES side and the front end area.

[2018-05-22 16:38] gibrown commented on #9
Does HelpHub already have Jetpack enabled on it yet. If so then you can just turn on Jetpack Search and add a search filtering to the sidebar: https://jetpack.com/support/search/

Customizing the algorithm may take a bit extra work, but just turning it on and configuring it should be pretty easy.

[2018-05-27 14:00] Clorith commented on #9
HelpHub is going to live on `wordpress.org/support`, so it will have the "good search" when it's introduced for the support forums as well.

We may want to weight it so that articles are prioritized above forum results at taht time, but it's not the biggest concern for phase 1 which is just getting content out in a better and curated format.

[2018-05-28 11:39] atachibana commented on #201
This language section points to other translated Codex pages. The dropdown box is not appropriate for this purpose because moving to other pages when user select the item from dropdownbox is not common interface.

![image](https://user-images.githubusercontent.com/8876600/40612825-fe27e41a-62b6-11e8-8df4-f25720ebd6e6.png)

We should use Wikipedia style link:

![image](https://user-images.githubuse

[2018-05-28 11:39] atachibana commented on #201
Whatever the design, current shortcode would not be required.
Before implementation, I will remove languages section.

[2018-05-28 15:01] mapk commented on #201
I'm open to that now that the language section will exist in a sidebar and not at the top of the content.

[2018-05-28 15:07] mapk commented on #214
I'd like to suggest removing the children elements from the TOC altogether. Having this level of detail in the TOC gets overwhelming. I think just including the high level markers works best.

[2018-05-28 16:01] atachibana commented on #201
@Kenshino
To meet the schedule, I would like to separate this tasks into two.

For Version 1 release
- Removing current short code from contents

For later release
- Create Widget that implement above logic (using Custom Field of Custom Post Type 'Article')

What do you think?

[2018-05-28 18:31] mapk commented on #206
Here's a concept if we displayed these as a grid.

![desktop - articles](https://user-images.githubusercontent.com/617986/40625997-aa76b3ec-626a-11e8-8e04-3835d175871a.png)

[2018-05-28 18:53] joyously commented on #206
I don't like a grid. It's too much like a newspaper. It looks very unorganized.

[2018-05-28 18:55] joyously commented on #206
I submitted a PR to change the Table of Contents to be able to use the TOC as an excerpt.

[2018-05-30 03:16] Clorith commented on #206
I think it's fine to have it in a grid, see how it's perceived, and iterate accordingly.

Do we want to maintain the default archive heading (meaning it's prefixed with `Category:`)?

![image](https://user-images.githubusercontent.com/468735/40696931-6ed33edc-63c8-11e8-802e-fa3b0c3016e3.png)

[2018-05-30 12:30] Clorith commented on #111
#203 has introduced the sidebar as discussed, but what hasn't been covered here is what it's meant to include of content, and how it's intended to be populated.

[2018-05-31 10:34] #206 closed, assigned to mapk

[2018-06-01 03:29] Clorith commented on #201
I like your idea @atachibana, it means we're not tied down by the translations and can introduce them in a way that's more user friendly in continuous iterations, great idea!

[2018-06-04 06:03] atachibana commented on #201
Language sections in all pages were removed for Version 1 release.
Now the milestone of this issue is set as Version 2, and I'll continue the design and implementation.

[2018-06-04 07:04] Kenshino commented on #201
Agreed!

[2018-06-14 08:59] Kenshino opened #224 "Archive page not loading any articles"
## **Issue Description**

<img width="1501" alt="screenshot 2018-06-14 10 57 39" src="https://user-images.githubusercontent.com/4746365/41402225-0919f7a6-6fc2-11e8-88d5-125f0d654ddb.png">

## **Context**

This is likely because the archive's WP_Query is not looking at the custom post type/

## **Steps to reproduce:**

1. Visit https://wp-helphub.com/category/advanced-topics/
2. See no items
3.
##

[2018-06-14 10:00] Kenshino commented on #224
Fixed by #225

[2018-06-14 10:00] #224 closed, assigned to nobody

[2018-06-18 15:16] mapk opened #229 "Homepage: Height adjustment"
The vertical rhythm needs to be consistent on the homepage.

![height-adjustment](https://user-images.githubusercontent.com/617986/41545330-cd9d1cc4-72cf-11e8-8aef-150a8f7a5a12.png)

If the height of these two spaces could match, that would be great!

[2018-06-18 15:19] mapk opened #230 "Homepage: Forums text needs to match size of other sections"
The "Support Forums" module displays larger text than the other modules. They should match in size with one another.

**Forums**
![screen shot 2018-06-18 at 8 16 57 am](https://user-images.githubusercontent.com/617986/41545510-32d1024a-72d0-11e8-8f63-b0c6a8b15e84.png)

**Other modules**
![screen shot 2018-06-18 at 8 17 03 am](https://user-images.githubusercontent.com/617986/41545518-37fed5d0-72d0-

[2018-06-18 16:58] zzap opened #231 "Category Terms Archive"
## **Issue Description**

While we have category term archive ([such as this one](https://wp-helphub.com/category/getting-started/)), going one level up in URL returns error page ([as found here](https://wp-helphub.com/category/)).

It has been [suggested](https://wordpress.slack.com/archives/C02RP4WU5/p1529336008000741) to list all terms for the taxonomy on this page.

Any design suggestions?

cc

[2018-06-18 18:18] joyously commented on #231
Isn't it the same thing as the home page? (for now, it is)
A redirect might be the better option, as there is no template for this page. WP doesn't really handle it.

[2018-06-18 18:19] joyously commented on #230
I thought it was intentionally larger, because it's the fallback.

[2018-06-18 18:33] joyously opened #232 "Category page sometimes shows 2 columns instead of 3"
## **Issue Description**
This screenshot is from my usual browser with my normal settings. It looks different from another browser.
![getting-started-page](https://user-images.githubusercontent.com/7957680/41554497-a217d596-72fa-11e8-9c20-2500a7d880c8.jpg)

The columns are created by using `display: inline-block` and `width: 30%`, so I was puzzled as to why my normal browser didn't show it correct

[2018-06-18 18:37] joyously opened #233 "No window title on category pages or article pages"
## **Steps to reproduce:**
View a category page such as https://wp-helphub.com/category/getting-started/
## **Expected Result:**
The title of the page should be shown in the browser window.
## **Actual Result:**
The window shows only my browser name.

[2018-06-18 18:41] joyously opened #234 "Mobile view does not have a menu"
I don't know if this is a consequence of having a staging site, but the desktop view shows a menu so it seems like the mobile view would also.

## **Steps to reproduce:**
1. View the site on a mobile device.
## **Expected Result:**
I expect the menu icon to work (when touched, it should show a menu).
## **Actual Result:**
The menu icon is shown, but does nothing when touched.

[2018-06-18 18:49] joyously opened #235 "Mobile view home page needs more above the fold"
Viewing https://wp-helphub.com/ on a mobile device gives the first impression that there is nothing to do but search.

![screenshot_20180618-110144](https://user-images.githubusercontent.com/7957680/41555798-669c3896-72fe-11e8-933f-6c45eb8bdddb.png)

[2018-06-18 18:53] joyously commented on #233
I noticed there is no title on article pages either.

[2018-06-18 18:58] joyously opened #236 "Mobile view sidebar is too dominant"
Viewing an article such as https://wp-helphub.com/article/settings-media-screen/ on a mobile device is disorienting. As seen in this screenshot, I couldn't see the page name in the address bar or in the page, and it looks like all I have is a list of categories. (I first thought the page didn't work.) But it's only the sidebar! And it's taking up all the space above the fold. It needs to be folded

[2018-06-18 19:10] joyously opened #237 "Archive pages need better ordering than post date"
Archive pages look quite chaotic. I suppose it promotes using the Search...

## **Expected Result:**
Clicking on a category link would show the article pages in a logical (helpful) order, similar to how they are listed on the home page
## **Actual Result:**
Clicking on a category link shows article pages ordered by post date, which is not logical or helpful.

[2018-06-18 19:55] joyously commented on #229
Perhaps the bottom should be as small as the top, instead of making the top bigger. See issue #235.

[2018-06-18 20:01] joyously opened #239 "Archive pages need better excerpts"
The automatic excerpts are terrible for the archive page. I suggest using the TOC without links since it's so easy.
See PR #219

[2018-06-18 21:37] mapk commented on #229
I'd actually like to keep the larger spacing. It gives room to breath. I'm not sure the pixels, but it should resemble the homepage, and about pages on wporg.

Homepage
https://wordpress.org/

About
https://wordpress.org/about/

[2018-06-20 15:41] psaikali commented on #43
I'd be happy to help with that.

A couple of questions, to be sure the way I see this is the good way :
1. We need to have 2 more meta fields for `Changelog` and `Blog` links, as we don't have them yet, is that correct ?
![capture 2018-06-20 a 17 34 26](https://user-images.githubusercontent.com/1606655/41668750-60299842-74b0-11e8-9d3e-e152af9f50fc.jpg)

2. I'd rather work in the `archive-helphub_v

[2018-07-02 18:38] zzap opened #240 "Feedback - contributions from the public"
## **Issue Description**

We need to provide the way for contributing with content for users without edit post permissions. On DevHub it's been handled with comments functionality and it looks like a good start for HelpHub as well.

Do not confuse this with #7. This is a completely different functionality.

Sometime in a far future, it is planned to replace this functionality with direct content e

[2018-07-03 01:37] atachibana commented on #240
As the first step, I like the comments functionality. Even PHP manual is doing well with this method
http://php.net/manual/en/language.variables.basics.php, though some watchdog must be required, of course.

[2018-07-03 02:14] softservenet commented on #240
Experimenting with a couple things on inline commenting on a Gutenberg block, Will post back if I can get something interesting by Monday...

[2018-07-03 10:51] Kenshino opened #241 "Center align text on homepage widgets"
## **Issue Description**

The current alignment for text on the home page widgets are left aligned. But the title and icon are center aligned.

It... looks off for me.

![screenshot 2018-07-03 18 49 34](https://user-images.githubusercontent.com/4746365/42215747-0b6846cc-7ef2-11e8-996a-75b37cdc6c7f.png)

## **Context**

We should center align it

![screenshot 2018-07-03 18 49 16](https://user-image

[2018-07-03 10:52] Kenshino commented on #241
@mapk thoughts?

[2018-07-03 10:59] Clorith commented on #241
I'm strongly opposed to centering the text and links, it makes for terrible readability.

Centering an icon/heading is natural though.

[2018-07-03 14:46] joyously commented on #241
The original had it centered and I suggested it not be centered, since centered text is so difficult to read.

[2018-07-04 06:16] Kenshino commented on #241
Nice! Let's close this! Must have forgotten we discussed!

[2018-07-04 06:16] #241 closed, assigned to nobody

[2018-07-04 06:18] Kenshino opened #242 "Odd styling issue with ToC"
## **Issue Description**

On this page (other pages I checked were fine but no guarantees it's only this)

The ToC has bullet points loading and it's messing up the style

## **Context**

https://wp-helphub.com/article/importing-content/

![screenshot 2018-07-04 14 17 56](https://user-images.githubusercontent.com/4746365/42259939-11a7977e-7f95-11e8-8061-afc5eadca010.png)

## **Steps to reproduce:*

[2018-07-04 07:54] danieltj27 commented on #242
I'd help if I can find a spare moment at some point. It looks like the bulleted list items don't have a parent `<ul>` element so it's inheriting the user agent styles. Wrapping them in this works nicely:

[code]

[2018-07-04 13:53] #242 closed, assigned to nobody

[2018-07-07 02:16] atachibana commented on #43
@psaikali
Thank you for the support and your suggestions are definitely the same ones that I have :-)

1. Yes. We should have additional fields as you say.

2. I think we can hard code those statement in the template. As you say, no other parts will use it.

[2018-07-07 07:00] atachibana opened #245 "Single page design of WordPress Version page"
Already we have custom post type 'WordPress Version' and some contents were migrated into staging-site with it.
Question.
- Does this page include enough information for HelpHub contents? Though it was converted from Codex, isn't there missing information or feature?

Codex example: https://codex.wordpress.org/Version_4.9
![image](https://user-images.githubusercontent.com/8876600/42407920-42bd42d4

[2018-07-07 07:00] atachibana opened #246 "Table listing page design of WordPress Version page"
See previous discussion #43

WordPress Version list table page exists in Codex.
We would like to convert this page to HelpHub as custom archive page of custom post type 'WordPress Version'.

https://codex.wordpress.org/WordPress_Versions
![image](https://user-images.githubusercontent.com/8876600/42408145-b382713a-8202-11e8-831a-7c65a55d43c7.png)

[2018-07-07 07:01] atachibana opened #247 "Workflow of WordPress Version page. How to create / modify the page?"
Now WordPress Core team creates WordPress Version page in Codex when new release is available, and everyone can modify the page later.
e.g. https://codex.wordpress.org/index.php?title=Version_4.9&action=history

Question:
- Which workflow should be applied to HelpHub?
- Who should have 'editor' right in HelpHub site.

[2018-07-07 07:01] atachibana opened #248 "Contents migration of WordPress Version page"

[2018-07-07 07:01] atachibana opened #249 "WordPress Version page migration from Codex to HelpHub"
This Epic is for the migration of WordPress Version pages (or Release Notes) in Codex to HelpHub. We will handle

- #245 Single page design of WordPress Version page
- #246 Table listing page design of WordPress Version page
- #247 Workflow of WordPress Version page. How to create / modify the page?
- #248 Contents migration of WordPress Version page

[2018-07-07 07:32] atachibana commented on #43
@psaikali
As John said in the HelpHub meeting, I close this issue and opened new issue #246 under the Epic #249.
Please take the #246. Thank you.

[2018-07-07 07:32] #43 closed, assigned to carl-alberto, atachibana

[2018-07-09 00:24] softservenet commented on #240
Have what may/could be a rough starting point.  Was trying to take both the initial rollout of a Comments unit and ultimately, a more sophisticated Management unit per some of the conversations thus far.

These are all basically just concepts.

-------------------------------------------------------------------------------------------------
**COMMENTS REVISION SUGGESTION**

***it seems like regula

[2018-07-09 00:29] softservenet commented on #240
These are some original notes as I was looking into some workflow that might be reasonably achievable.
----------

-Open Block
--only the single block
--with content and a block editor
------------------------------------------------------
-Edit Block
------------------------------------------------------
-Submit Block
------------------------------------------------------
*Block Ends up as Attach

[2018-07-11 15:19] mapk opened #250 "Homepage: Vertical Spacing Needs Adjusting"
The vertical spacing needs to be adjusting so that it's consistent throughout the page.

Each of these red boxes should have the same height, but they don't. I think the red box over the blue portion of the header should be the height they all match to.

![vertical-spacing](https://user-images.githubusercontent.com/617986/42582095-1955b048-84e3-11e8-8d11-af2b5bd69309.png)

[2018-07-11 15:22] mapk opened #251 "Homepage: Icon colors should be grey"
The icons are currently blue, but should be grey to match the current support page on wporg.

----
**wp-helphub**
![screen shot 2018-07-11 at 8 19 57 am](https://user-images.githubusercontent.com/617986/42582216-6e364b7c-84e3-11e8-8e06-1a12b14af02f.png)

----
**wporg/support**
![screen shot 2018-07-11 at 8 20 40 am](https://user-images.githubusercontent.com/617986/42582223-72de70fa-84e3-11e8-95e2-

[2018-07-23 15:44] zzap opened #254 "Contributor Recognition"
We thought it would be a good idea to add some gamification logic to Helphub contribution.
Having a visual (graphic badges ?) or even abstract (number of upvotes ?) way of symbolizing a contributor involvement could be a friendly motivation for users.
- How would we symbolize this recognition ?
- Is it an automatic recognition based on a number of articles/comments written, or does it depend on vi

[2018-07-23 15:45] zzap opened #255 "Gutenberg Blocks"
We might need to create new specific Gutenberg blocks for content creation.
Non exhaustive list of blocks to start discussion :
- code block
- notice block (with ability to choose a specific style : warning/error/info)
- related content block

[2018-07-23 15:46] zzap opened #256 "Gutenberg template"
If we create new Gutenberg blocks for Helphub, it might be a good idea to define a simple Gutenberg template assigned to the Articles post type, if a common structure is used throughout articles.
Documentation : https://wordpress.org/gutenberg/handbook/templates/

[2018-07-23 18:36] softservenet commented on #240
**(Post Notes from HelpHub Meeting):**

**DevHub Suggestion Piece:**  Since the Gutenberg Attachment Blocks piece might take longer than utilizing the existing DevHub piece, timewise, it seems to make sense to implement DevHub solution first.
https://github.com/WordPress/meta-environment
*will need to reference DevHub Repo
*isolate code to be used to add feature

**Gutenberg Attachment Blocks:**

[2018-07-24 00:50] ntwb commented on #254
There have been many discussions previously on adding gamification to various w.org projects, forums by way of voting up and down topics and/or answers, translations by way of adding badges and displaying the number of translations for translators on their profiles, each of these proposals have been rejected.

To highlight one of Otto's comments on w.org and gamification:

There are many more disc

[2018-07-26 00:57] softservenet commented on #240
@Kenshino Do we pick the code on our own, or should we reach out to who worked on this?

[2018-07-26 20:25] joyously commented on #254
I agree that intentionally gamifying HelpHub is asking for trouble where you already have tons of spam on the forums and reviews, and plugin and theme authors trying to get traffic. If contributions have an incentive, they are suspect.

[2018-07-26 20:31] joyously commented on #231
I encountered this also when working on a client site, and have discovered that there is an 8 year old ticket for it. But there are problems.
A suggestion that would work easily is to create a Page with that slug and put a taxonomy widget in it (and explanatory text if desired).
I was thinking of building this into my theme for my client's site, so I considered either putting all the taxonomies' w

[2018-07-30 07:10] audrasjb commented on #247
Hi there,
Good question @atachibana
It's currently Jeff Paul who is the most often in charge. But when I co-led 4.9.5, I created the codex pages by myself. Also, since I'm replacing Jeff during his holiday, I managed 4.9.7 (security release) codex pages (for each minor from branch 3.7.x to 4.9.x. I'd say that is a quite time consuming task so it's not so fair to let Jeff alone on this stuff haha 😃

[2018-07-30 07:14] audrasjb commented on #245
Hi there,

Just for information: this is an example of major WordPress release but we also need HelpHub pages for minors, e.g. https://codex.wordpress.org/Version_4.9.7 (Security Release) or https://codex.wordpress.org/Version_4.9.5 (Maintenance release) :)

[2018-07-30 11:13] atachibana commented on #245
@audrasjb Thank you.

Yes, we know it and almost all pages were migrated, though the recent pages are not yet done.
https://wp-helphub.com/wordpress-version/version-4-5-2/

Those migration will be tracked by #248.

By the way, I know the Codex is using wiki-template for fixed sentences and URL links. We should prepare similar shortcode or Gutenberg block...

[2018-07-30 11:20] atachibana commented on #247
Hi @audrasjb

And, I am adding/modifying the Codex Version pages :-)

Owning `edit` rights by Core team is most effective way. Thank you.
Of course, I will continue the support of it (f.g. listing the defect list or the list of fixed files...)

[2018-07-31 10:50] hlashbrooke commented on #168
It looks like the old wording is back on here: https://wordpress.org/support/

[2018-07-31 19:04] audrasjb commented on #248
Hi there,

All WordPress versions are now almost fully migrated from the good ole’ Codex to HelpHub.

What next? I think I can handle future WP Versions on HelpHub.

I have some small considerations about present integration (but no blocker!) :

1. I use Gutenberg for all the pages I migrated, and I plan to convert old pages in the future: are you ok with that?
2. I created a reusable Gutenblock f

[2018-07-31 19:12] audrasjb commented on #248
Ha!
Also, do we still need **Installation Information** section?
I think it's not very interesting and ths information is already in so many places right now :-)
Example: https://wp-helphub.com/wordpress-version/version-4-5-3/

And do we need to add release date manually? It is already added in "Date released" custom meta field so I guess the date should be automatically displayed in this single p

[2018-08-01 03:27] ntwb commented on #168
Oh noes @hlashbrooke 😱

I may have merged the wrong changes, I'll take a look and fix soon, I want to get everything remaining to be committed by the end of the weekend on w.org 🎉

[2018-08-01 06:07] ntwb commented on #248
Thanks @audrasjb

- On the languages side of things we plan to enable HelpHub on the Rosetta sites, so if a locale wanted to translate the release notes they are free to do so. In fact the Japanese team do this regularly, here's [4.9.7](https://wpdocs.osdn.jp/Version_4.9.7).

As I noted elsewhere, I plan on getting the remaining theme changes committed to w.org by the end of the weekend. Once that

[2018-08-01 07:24] naomizenge commented on #248
Hi @audrasjb,

Thank you for the all migration and suggestion! You can do anything what you think good!

Added some comments:

Are you saying about WordPress Versions (https://codex.wordpress.org/WordPress_Versions) ?
If so, please refer #246

As @ntwb  says some locale has own Version Pages, and for Japanese, almost all pages were created by I :-)
Certainly we need further discussion for the tran

[2018-08-06 16:10] Kenshino commented on #251
@zzap I think we did this and we just need to compile the CSS right?

[2018-08-10 14:54] atachibana opened #257 "Missing link to WordPress Versions page"
We should create a link to WordPress version table page, that is addressed in #246.
E.g. somewhere in here https://developer.wordpress.org/
Maybe here or above it

![screenshot 2018-08-06 23 25 34](https://user-images.githubusercontent.com/8876600/43964594-1f0a912a-9cf8-11e8-9610-61e6005c34a3.png)

[2018-08-12 20:05] softservenet commented on #245
Hi @mapk , it came up over the HelpHub meeting that the new pages that are Version Pages replacing the Codex Version Pages may need some sort of differentiation between General Content and Developer Content.  @Kenshino suggested we add to this ticket for you to take a look at.

**POINT RAISED:**  The point raised was that the General and Developer content seemed to run together.  One possible solu

[2018-08-20 13:53] zzap opened #258 "Versioning HelpHub theme"
This is really just to help development and maintaining.

Do we know exactly which code is on staging and in meta?
When was the last time we deployed to staging?
Are we creating new issues for latest code?

Can we give answers to these questions?

Let's create changelog and start versioning theme to make our lives easier.

Any thoughts?

I'm going to ping few people for discussion @Kenshino @Clori

[2018-08-20 14:02] zzap commented on #257
Is this phase 2 @atachibana ? #246 is but this one is not labeled.

[2018-08-20 14:05] zzap commented on #239
That PR has conflicts. Can you please fix them?

[2018-08-20 14:13] zzap commented on #233
@Clorith @ntwb  is this handled by .org or we should add `add_theme_support( 'title-tag' );` in our theme?

[2018-08-20 14:14] zzap commented on #235
Pinging @mapk.

[2018-08-20 14:19] zzap commented on #234
It's js error that `toggleMenu is not defined`. But that is the part of included .org header. Nothing we can do about.

[2018-08-20 14:19] #234 closed, assigned to nobody

[2018-08-20 14:28] zzap commented on #251
Yes, @Kenshino this is just a matter of compiling css and deploying to staging.

[2018-08-20 14:28] #251 closed, assigned to nobody

[2018-08-20 14:46] atachibana commented on #245
There is no rule in the current Version page in Codex. Someone copy from previous version, others write from scratch.
So we should define the rule in HelpHub and modify current contents to follow the rule.

[2018-08-20 14:53] zzap commented on #214
If I remember correctly it was decided to create filter which would enable/disable nested TOC. Is this correct @Kenshino?

[2018-08-20 15:38] mapk commented on #245
While I agree the separation would be beneficial, adding more navigation to a page that already has too much navigation doesn't seem to be the right solution here.

Right now, the right sidebar is filled with links that are just overwhelming. I believe we should completely drop the right sidebar and fit all navigation under the left sidebar. Rather than linking every heading though, we should be a

[2018-08-20 15:40] zzap commented on #231
It's been decided to go with redirection. To home page preferably but some specific page template is also acceptable.

https://wordpress.slack.com/archives/C02RP4WU5/p1534779477000100

[2018-08-20 15:55] zzap commented on #236
It's been decided to remove sidebar with filter (as a first draft) so that we can put it back if needed.

https://wordpress.slack.com/archives/C02RP4WU5/p1534780326000100

[2018-08-20 16:05] zzap commented on #250
Duplicate of #229

[2018-08-20 16:05] #250 closed, assigned to nobody

[2018-08-20 16:08] zzap commented on #237
It's been suggested that last edit order would be interesting for someone who's browsing category archive.

https://wordpress.slack.com/archives/C02RP4WU5/p1534780716000100

[2018-08-20 16:22] felipeelia commented on #232
We should always use `ems` (or preferably `rems`) of course, but unfortunately, this isn't the case here. The problem is the `display: inline-block;` and the white space between the `<a>` tags. This can be solved by removing these white spaces or giving a `float: left` to those `<a>`.
A `display: flex` approach would do it as well, but it has limited support by old browsers.

[2018-08-20 20:51] mapk commented on #236
I like the decision to remove it right now. If we hide it behind another hamburger menu, there will then be two hamburger menus on the mobile screen along with the nav in the blue bar as well.

I'm really starting to think that the Support section of the site shouldn't utilize the main black header at all. Any thoughts on this?

[2018-08-20 20:55] mapk commented on #258
I think a changelog is the right way to go, or some sort of versioning. Can any of this be handled through Github and allow Git to maintain the versions and the "what changed"? Can we then from Github, push to the other servers?

[2018-08-20 21:20] mapk commented on #257
Adding a link under that section is a good idea. Probably under "More Resources." Can we just include both those lists under one heading that reads "More Resources"? Something like this:

![versions](https://user-images.githubusercontent.com/617986/44367296-34023b80-a484-11e8-8689-3d373d67673a.png)

[2018-08-20 22:42] mapk commented on #235
Like #236 I think we can solve some of this by removing the black header altogether and just have a minimal support header for the support section. This would also eliminate the double search bars that look ridiculous. This is a larger discussion though.

But ultimately as for mobile, research shows that people scroll. https://www.nngroup.com/articles/scrolling-and-attention/

Analytics for wordpr

[2018-08-21 02:32] ntwb commented on #258
I've got that in "my head", not written down anywhere though.

My plan is sometime this week to get everything from GitHub committed to meta

(That was also my plan last week BTW, sorry for the delays)

Once I've got that completed then documenting procedures surrounding this area will be beneficial, a changelog for the theme, and another changelog for all the plugins initially sounds good to me.

[2018-08-21 08:10] zzap commented on #232
Inline block spacing issue can be also fixed by adding `font-size: 0;` to parent element and then defining needed font size for inline block. This works in every browser.

cc @felipeelia

[2018-08-21 18:54] zzap commented on #258
:)

Yes, @Kenshino did mention that @Clorith had some plans for having this under control soon. So, we can use this issue for planning.

@mapk:

Oh, this would be priceless. I haven't heard of anything similar though.

[2018-08-21 19:24] joyously commented on #234
Will it still be undefined when it's on the live site?

[2018-08-21 19:32] joyously commented on #237
Last edit order sounds chaotic. If it's "how to" info, maybe it should be sorted by search hits, so the most FAQ rise to the top.

[2018-08-21 19:36] joyously commented on #232
You shouldn't have to do font-size:0 or float. The problem is not using `ems`. (In fact, I think `rem` is worse.)

I have built an entire theme using inline-block and ems and don't need any tricks to have it work perfectly on any width.

[2018-08-21 19:44] joyously commented on #236
Well, on the staging site the mobile menu isn't working, so removing the sidebar makes it hard to test anything. And you want to remove the black part? Does that mean the menu also? and the search? What's left?

I personally don't like dead end pages, or that feel like a dead end because there's only the main menu to get to other pages (no sidebar, no Next/Prev links). I guess there are a few link

[2018-08-21 19:57] joyously commented on #235
It could be because the main menu link for Forums goes to the support page. I've asked about this before. Makes no sense to me.

I just think the blue part with the search box should be a bit smaller on mobile. The black part could be smaller too, but I wouldn't want to get rid of it. I like being able to search all of wp. Please don't choose a "solution" that reduces the user's options on the par

[2018-08-21 20:33] mapk commented on #236
@joyously yes, I'm proposing to remove the black header in place of something more helpful for the user who is seeking help in the docs. It wouldn't be a dead end page. Of course there would be links to get back to the robust header and site.

My suggestions are definitely more overall IA related that involve a lot of thought. If we want to just throw up a simple solution and move the sidebar down

[2018-08-21 22:26] felipeelia commented on #232
I'm not a CSS expert, so please excuse me if I'm not seeing something obvious here :)

I think using `rem` is easier because everything is related to the same value. When we have too many levels, it starts to be hard to know what value that `em` is related to, but well, that is just my opinion.

As an additional info, `.three-up .archive-block` already has a `font-size: 0.8rem;` (and changing it t

[2018-08-22 04:39] atachibana commented on #257
@zzap It should be Phase2. Thanks.
@mapk
Hi, it's perfect!

[2018-08-22 16:36] zzap opened #263 "Travis Errors"
Travis is reporting errors on various files making all merges blocked. We need to fix those errors before we can move on.

Here's log excerpt with errors:
[code]

[2018-08-22 16:44] joyously commented on #232
Definitely not.

Do what you want. I think it would take a lot of changes to clean up the CSS and it is using a bunch from .org that needs fixing also. For future reference: `rem` is not very good and causes a lot of issues, because it is absolute. (I've seen a lot of themes that use `rem` on an inline element and it's tiny because everything around it was using inherited sizing.)
Fonts need to be

[2018-08-22 16:49] joyously commented on #236
I agree, and that's  why I wouldn't want to remove the sidebar or the black part.
But having the sidebar before the content is bad for SEO and also for usability.

[2018-09-03 15:14] zzap commented on #256
Any thoughts @atachibana and @mapk ?

[2018-09-03 15:19] zzap commented on #256
Related https://github.com/Kenshino/HelpHub/issues/255

[2018-09-03 15:34] zzap commented on #263
@ntwb can you please take a look at this?

Slack discussion - https://wordpress.slack.com/archives/C02RP4WU5/p1535988658000100

[2018-09-03 15:36] atachibana opened #264 "Gutenberg documentation"
## **Issue Description**

Already Gutenberg Team has the handbook that mainly focuses on development side.
https://wordpress.org/gutenberg/handbook/

Question
1. Should we keep the handbook as is, or move them under the DevHub?
2. Should we write user documentation, or is there some plan of it?
3. Should we involve Gutenberg Documentation Team (if exist) into our weekly meeting?

[2018-09-03 16:07] joyously commented on #264
The "Gutenberg team" as it is now is different from how it will be once merged with core. After the merge, it should be treated the same as any other component.

[2018-09-03 19:34] softservenet commented on #240
Believe we've found the code here:
https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-developer#inc
----------------------------------------------------------------------------------------------------

https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/themes/pub/wporg-developer/inc/user-content.php

https

[2018-09-17 14:32] softservenet commented on #240
**Here's a better Illustration of the elements of this piece:**

**MAIN**
includes/user-content
user-content.php
user-content-preview.php

/js
user-notes.js
user-notes-feedback.js
user-notes-preview.js

**FROM FILES**

**user-content.php**

**-ENQUEUED SCRIPTS**

--function-reference.js
---array jquery, syntaxhighlighter-core, syntaxhighlighter-brush-php

--user-notes.js
---array jquery, quicktags

[2018-09-24 05:10] atachibana commented on #256
@zzap

This means the Articles post type has initial contents so that you can force the content structure to the future writer. Yes, this is good idea!

[2018-09-24 05:48] atachibana opened #266 "Proposal: Leverage GitHub for content management"
WP-CLI handbook (https://make.wordpress.org/cli/handbook/) and Gutenberg handbook (https://wordpress.org/gutenberg/handbook/) manage those contents in the GitHub repository, and publish them as WordPress contents.

This method has some advantages:
1. We don't need user management. Restricted users can modify contents direct, and general user should send Pull Request.
2. Revision will be stored in

[2018-09-24 12:47] zzap commented on #266
I think we had a discussion about this at Community Summit 2017 in Paris. I generally love the idea but there is a limiting factor for people who don't know how to use GitHub and have never heard about GIT (let alone used it).

Chances are that people who know about WP-CLI or Gutenberg (at this point of its development) have used, in one way or the other, some sort of versioning system. I don't kn

[2018-09-24 15:11] #263 closed, assigned to ntwb

[2018-09-24 15:15] joyously commented on #266
If it's the content for the Docs Handbook, I say Yes!
If it's the content for HelpHub, I say No, mostly because "eat your own dogfood", meaning that WordPress is a content management system whether it calls itself a blogging software or not. It should be able to handle its own content. If using it for its own documentation exposes weaknesses and ways we can enhance it, I think we should make sure

[2018-09-27 23:21] mapk commented on #256
I totally agree. Using block templates for Helphub will really help keep things consistent throughout making it easier for people to read.

[2018-09-29 08:27] audrasjb commented on #246
Hi,
PR #267 is a first workaround for the WordPress version archive.
Cheers,
Jb

[2018-10-07 06:46] atachibana commented on #266
I close this issue because our consensus is that thinking WordPress first.

@joyously I understand your saying.
But there some issues that current WordPress does not track, and will take some time for its supports.

1. Revision or History. There no way to know the revision or history of contents for non-authenticated user. Even authenticated user, current revision diff functions is poor.
2. Review

[2018-10-07 06:46] #266 closed, assigned to nobody

[2018-10-08 13:36] atachibana commented on #264
memo.

#docs channel 25/Jul/2018 by sarahsemark (sarah semark)

sarahsemark [8:26 PM]
Hello everyone! A couple of us are working on an audit of Gutenberg’s many blocks, and one of the things we’re looking at is documentation. It looks like there’s a plan for user-facing documentation for Gutenberg here: https://make.wordpress.org/docs/handbook/gutenberg/ but it hasn’t been filled in yet. :slightly

[2018-10-08 13:55] zzap opened #268 "Phase 2 Management"
As @Kenshino said in [slack](https://wordpress.slack.com/archives/C02RP4WU5/p1537803112000100), we need to start planning Phase 2 in order to move it.

New development branch is created for Phase 2, [development-phase-2](https://github.com/Kenshino/HelpHub/tree/development-phase-2), until current code is merged into meta. All Phase 2 code should create PRs to this new branch.

Now we need to creat

[2018-10-29 07:25] Kenshino commented on #258
Perhaps we should just start a changelog in general for the HelpHub project first?

[2018-10-29 15:18] zzap commented on #258
Yes, I think that Changelog is a must. At least for start.

[2018-11-19 16:06] zzap opened #276 "Content to block mapping"
We need content for single Version pages to be mapped for blocks so that we can create block templates.

Related: https://github.com/Kenshino/HelpHub/issues/245

[2018-12-04 21:56] zzap commented on #276
First drafts and demo https://wpuxtesting.com/2018/11/version-4-9/

As found on slack https://wordpress.slack.com/archives/C02RP4WU5/p1543850523098900

[2019-01-06 18:11] joyously opened #277 "When do Codex URLs in code files get changed?"
The codex articles are being redirected to the new HelpHub articles, but for how long?
If you search the actual WordPress code, there are a lot of comments and links to codex URLs.
When do these get changed? And are all the pages referenced in the code already migrated?

Here is the list I got when I searched WordPress 5.0.2. (I got slightly more in 4.9.9)
http://wpbin.io/go0bua

[2019-01-07 15:50] zzap commented on #277
This could actually be the `Good first bug` in core track.

[2019-01-07 15:57] Kenshino commented on #277
I doubt we'll convert the inline code base, we'll just redirect the codex pages.

[2019-01-14 15:37] emfluenceindia opened #278 "Version article title should look different than rest of the headings"
## **Issue Description**
@mapk  the migrated version pages title where it says `Version x.x.x` should stand out than rest of the headings on the page. Right now all of those look similar.
## **Context**
It is not affecting much since the version title is at the top, but because this tells us everything about the content of the page, it needs to look a little different. May be like a little larger

[2019-01-14 22:22] zzap commented on #278
@mapk this issue could use your input. Thanks.

[2019-01-27 19:49] kodemonster commented on #257
@atachibana  has this been resolved? screen shot still shows as if it hasn't been updated...

![wp versions](https://user-images.githubusercontent.com/44231956/51806019-884beb80-226c-11e9-8d82-e0fa2ef11924.JPG)

[2019-01-27 22:25] atachibana commented on #257
@kodemonster
#246 is not yet implemented, so cannot put the link.

[2019-01-27 22:35] kodemonster commented on #257
@atachibana
I would like to add the link there, could you please assist me with which file do I need to edit.

Thanks

[2019-01-28 04:07] naomizenge commented on #257
@kodemonster
The target page would be the dynamically generated page by #246 implementation. So not yet the path is unknown. In other words, the New Version Page is not static page such as Codex.
(Sorry, this is @atachibana's personal account)

[2019-01-28 05:39] zzap commented on #203
I'm closing this issue as it's outdated.

[2019-01-28 05:39] #203 closed, assigned to Kenshino

[2019-01-28 05:44] zzap commented on #277
I'm closing this issue as we most likely won't be doing it.

[2019-01-28 05:44] #277 closed, assigned to nobody

[2019-01-28 05:46] zzap commented on #268
I'm closing this issue. We are currently on Phase 1.5.

[2019-01-28 05:46] #268 closed, assigned to Clorith, mapk, ntwb, zzap, Kenshino, atachibana

[2019-01-28 05:49] zzap commented on #264
I'm closing this issue as it's discussing a place for Gutenberg docs and that's already decided. The effort can be followed in [#docs](https://wordpress.slack.com/messages/C02RP4WU5) slack channel.

[2019-01-28 05:49] #264 closed, assigned to atachibana

[2019-01-28 05:58] zzap commented on #254
Closing this issue as there's no interest and we probably won't do it.

[2019-01-28 05:58] #254 closed, assigned to nobody

[2019-01-28 06:28] zzap commented on #209
I'm closing this issue as it is already set on wp.org

[2019-01-28 06:28] #209 closed, assigned to nobody

[2019-01-28 10:02] emfluenceindia opened #284 "Invalid on-screen error message when publishing a post"
## **Issue Description**
When I am publishing a drafted version post, on screen message is coming up which says `Publishing failed` (screenshot attached). But the error message is wrong because the draft is actually getting published.

![publish-error](https://user-images.githubusercontent.com/11072678/51828569-dc5cdb80-2311-11e9-898d-522e530e212b.png)

## **Context**
Without getting back to the p

[2019-01-28 10:03] emfluenceindia commented on #284
I was working together with @atachibana this morning when this happened for the first time. I tried just before opening the issue, and encountered the same issue.

[2019-01-28 15:14] zzap commented on #233
This one is fine on production. It's handled by wp.org.

[2019-01-28 15:14] #233 closed, assigned to nobody

[2019-02-03 09:49] atachibana commented on #278
This is not only for the version page but general HelpHub pages have the same design issue.
e.g. https://wordpress.org/support/article/first-steps-with-wordpress/

We should enlarge the font of title.

[2019-02-05 20:57] mapk commented on #278
Can we follow the font-sizing of some of the recently redesigned pages like this one? https://wordpress.org/about/

Looks like the h2 tag there is probably the h1 we're looking for.

I would advise **not** changing the color of the headline.

[2019-03-14 08:07] shuklakartik commented on #284
Hello,

The ticket is moved to Track

Link: https://meta.trac.wordpress.org/ticket/4266

Thanks.

[2019-03-14 08:12] shuklakartik commented on #278
Hello,

The ticket is moved to track.

Link: https://meta.trac.wordpress.org/ticket/4267#ticket

[2019-03-14 23:47] mapk commented on #278
@shuklakartik I'm not sure what the common practice is. If it's moved to Trac, should we close it here?

[2019-03-15 01:07] ntwb commented on #284
@emfluenceindia Can you test this again please, if it is no longer reproducible please close this issue. I suspect that with the latest Gutenberg now on dotorg this issue has been fixed, thanks

[2019-03-15 11:00] zzap commented on #278
Yes, @mapk

We are moving Phase 1.5 to Trac.

[2019-03-15 11:00] #278 closed, assigned to nobody

[2019-04-29 09:10] atachibana commented on #247
Now core team has Editor right and adding/modifying per new release.
Editor right is allocated by docs team.
I close this issue.

[2019-04-29 09:10] #247 closed, assigned to atachibana

[2019-05-08 08:00] wittwitsan commented on #235
Screenshots
![support-mobile-fold-screenshots](https://user-images.githubusercontent.com/426383/57359437-e9575980-71a1-11e9-955e-a20c179fa3c8.png)

Current design patterns from the site.
![mobile-screenshots](https://user-images.githubusercontent.com/426383/57359450-efe5d100-71a1-11e9-9f88-8e1061dd56f3.png)

[2019-06-03 14:34] zzap commented on #232
Moved to Trac: https://meta.trac.wordpress.org/ticket/4491

[2019-06-03 14:34] #232 closed, assigned to nobody

[2019-06-03 14:37] zzap commented on #230
Moved to Trac: https://meta.trac.wordpress.org/ticket/4492

[2019-06-03 14:37] #230 closed, assigned to nobody

[2019-06-03 14:39] wittwitsan commented on #246
**Proposed Versions listing page**

![Versions-Listing-Desktop](https://user-images.githubusercontent.com/426383/58810313-e5efaa80-8647-11e9-91dc-6df202d327bd.png)

[2019-06-03 14:45] zzap commented on #229
Moved to Trac: https://meta.trac.wordpress.org/ticket/4493

[2019-06-03 14:45] #229 closed, assigned to nobody

[2019-06-10 13:04] wittwitsan commented on #246
Proposed Versions listing page (Mobile)
- Responsive Table (same approach as https://translate.wordpress.org/stats/)

![Versions-Listing-Mobile](https://user-images.githubusercontent.com/426383/59197083-94e93480-8bba-11e9-8776-47f86914d774.png)

[2019-06-10 14:37] wittwitsan commented on #245
**Proposed design for WordPress Version single page (Desktop)**
- Sidebar navigation for HelpHub (match DevHub and overall wp.org Meta)
- Add breadcrumb
- The right sidebar should be more selective and link to main sections (not implemented in this design yet)
- Propose the accordion solution for "For devs" section

![Version-Single-Desktop-2](https://user-images.githubusercontent.com/426383/59202

[2019-06-10 14:58] wittwitsan commented on #201
**Proposed design for language navigation**
- dropdown at the bottom of left sidebar

![language-widget-sidebar](https://user-images.githubusercontent.com/426383/59204382-b0f4d200-8bca-11e9-939c-88e7d5d93831.png)

[2019-06-10 15:07] wittwitsan commented on #235
I agree that the search box in the blue prominent area should cover more than just forums. This will be the same "above the fold" approach as the Plugins page.

[2019-07-01 14:51] zzap commented on #245
I like this. The only question about right sidebar (table of contents, I assume): You want to keep it or remove it?

[2019-07-01 14:52] zzap commented on #246
I very much like the mobile solution for the table but I think we'll need more discussion on how to achieve this.

[2019-07-01 14:55] zzap commented on #201
This is pretty much straightforward. I like it.

[2019-07-01 15:34] zzap commented on #237
We need final decision here @Kenshino

[2019-07-01 15:36] zzap commented on #231
Are we going to redirect to home @Kenshino?

[2019-07-08 07:26] Kenshino commented on #284
Closing this for now because Gutenberg has moved on so many versions since then. This was likely some meta update breaking Gutenberg (it has happened a few times)

[2019-07-08 07:26] #284 closed, assigned to nobody

[2019-07-08 07:28] Kenshino commented on #245
I think the side bar should be specific about WordPress versions only.

[2019-07-08 07:31] Kenshino commented on #231
Are we talking about having a base template for wordpress.org/support/category and then list all the terms that we've got allocated in Categories?

If so i'm supportive. We need to get designs done for it ;)

[2019-07-08 13:40] joyously commented on #231
I do this in my theme. I made it a function to use as a filter (which I add in the taxonomy-root template) or called directly (I call it from the 404 page).
[code]

And in the taxonomy-root template just add and remove the filter before and after the loop.
[code]

Then make a Page with whatever intro content is needed, using the slug of the taxonomy, and assign it the taxonomy-root template.

[2019-07-08 15:36] zzap opened #300 "Table listing on WordPress Version page"
Apply design from #246

[2019-07-08 15:36] zzap commented on #246
Design is accepted. Development continuous in #300

[2019-07-08 15:36] #246 closed, assigned to nobody

[2019-08-19 21:59] zzap commented on #214
Created trac ticket and patch here: https://meta.trac.wordpress.org/ticket/4692

[2019-08-19 21:59] #214 closed, assigned to zzap

[2019-08-25 14:11] zzap commented on #239
As I stated in comment on #219, we need to discuss solution for this issue in more detail. I'd be very glad if we can do this on HelpHub meeting.

[2019-08-25 15:47] zzap commented on #236
How about we use search form and `the_post_navigation()` instead of sidebar on mobile. I think setting the posts nav in the same taxonomy term and making that order more logical would be useful.

Current state:
![single-mobile-sidebar](https://user-images.githubusercontent.com/1508963/63652425-534f3b00-c760-11e9-9625-bd152d7a9680.png)

Without sidebar:
![single-mobile](https://user-images.githubus

[2019-08-26 15:46] estelaris commented on #239
It was decided to write the point of the article in one sentence rather than depending on the automatic excerpt. Discussion is here https://wordpress.slack.com/archives/C02RP4WU5/p1566831612366600

[2019-08-26 16:22] JustinyAhin commented on #237
On last meeting, the suggestion for this was to order post manually, based on the criteria of "importance" of the post in the category.

https://wordpress.slack.com/archives/C02RP4WU5/p1566833387410400

[2019-08-28 18:37] shaunandrews commented on #235
<img width="562" alt="image" src="https://user-images.githubusercontent.com/191598/63883036-3eadb580-c9a1-11e9-9e10-87f5307b7eee.png">

Seems like the blue banner area needs a better responsive design, likely across the whole site. Reducing the font-size and padding goes along way, and left-aligning the text on mobile reads more naturally to my eye.

I do question the double search box, but that's

[2019-09-01 19:51] felipeelia commented on #237
Created trac ticket and patch here: https://meta.trac.wordpress.org/ticket/4709

Can you close this please, @zzap ?

[2019-09-01 19:53] felipeelia commented on #239
It seems everything is ready for this (CPT already supports excerpts, they are displayed when present, _et cetera_). I guess the only necessary step here is actually writing the excerpts, right? What is the best way to move this forward/keep track of progress?

[2019-09-01 20:01] zzap commented on #239
Right.

Let's bring this issue up tomorrow at meeting and "officially" hand over to @atachibana and content team.

[2019-09-01 20:02] zzap commented on #237
Thank you @felipeelia

[2019-09-01 20:02] #237 closed, assigned to nobody

[2019-09-09 13:47] estelaris commented on #235
We had a discussion with the #design team and we will be looking into finding a solution that works for all the pages/sections. In the meantime, I found that mobile screens work better with both ribbons and only the main search field if both ribbons are shrunk in size. It even has a filter to hide the welcome screen.

![Screenshot_20190909_154106_com android chrome](https://user-images.githubuserc

[2019-11-01 02:51] ozekiy commented on #201
I think that is also good. However, I thought it would be nice to see all the languages. I think that it is easy to see if the national flag is attached.

[2019-11-01 02:55] Nishimura35 commented on #201
Proposed design for language navigation
・Flags + Language name
![bookingCom](https://user-images.githubusercontent.com/52491259/67999088-307c5e00-fc9e-11e9-8cbf-3a2381b8f122.jpg)

[2019-11-01 02:55] ShinichiNishikawa commented on #201
I think we should explicitly show the language links as a list.
When for example a Japanese person isn’t comfortable with English and can’t figure what it is by reading “English” on the drop down label, it is really difficult for that person to see there is a Japanese version.

Wikipedia says “日本語” and is super obvious.

[2019-11-01 02:57] atrasi2079 commented on #201
I think Nishimura35's idea is so good.
If I think about the mobile GUI, dropdown + flags style is also good.

<img width="343" alt="スクリーンショット 2019-11-01 11 57 28" src="https://user-images.githubusercontent.com/1813575/67999243-ce702880-fc9e-11e9-8806-5cd5f5d09f43.png">

[2019-11-01 02:58] miminari commented on #201
I like the idea @atachibana, too.
I think it is important for the people who can't read English that they can see the own language.

And Flag Images is very good icons, same reasons.

[2019-11-01 03:43] ntwb commented on #201
Flags are not ideal, many countries have multiple languages, the polyglots sites do not use them for this very reason, [nor Wikipedia](https://meta.wikimedia.org/wiki/List_of_Wikipedias)

See also:
- https://twitter.com/zedejose/status/918488945507360768
- In short: flags are not languages and vice-versa.

[2019-11-11 15:35] leogermani commented on #201
-1 for flags

http://www.flagsarenotlanguages.com/blog/

[2019-11-20 06:49] naokomc commented on #201
I vote for the polyglots icon + text dropdown (WP15 style as Mark [said]( https://github.com/WordPress/HelpHub/issues/201#issuecomment-383617049)).

When I access WP15 site, I see Japanese translation + dropdown with Japanese already selected.
![image](https://user-images.githubusercontent.com/34067/69215018-db9c7b00-0bab-11ea-891d-761c41c97571.png)
WP15 site seems to be detecting my browser langu

[2019-11-20 07:09] tobifjellner commented on #201
Various alternative language versions could be listed in a dropdown.
But, in addition, any matches with languages in http parameter "accept-language" could be listed once more, separately, to be quickly reachable.

[2020-01-23 11:01] miminari commented on #201
OK, the polyglots icon + text dropdown menu seems to be better.

But it reminds me of the nightmare when I set up the WordPress development version. You know, I have confused whenever I change the language to Japanese because the huge pulldown list looks to do not have any rules of sorting for Japanese, and it’s hard work for me to find “日本語”. (Why should it be next "Italiano" and before "Basa Jaw

[2020-01-23 11:57] Zebedeu commented on #201
@miminari I believe that a string search gets better, considering that there are locales that are not detected by the browser currently.

[2020-05-18 11:39] GeoJunkie opened #307 "Outdated HTTP API link"
## **Issue Description**

In the [HTTP API](https://developer.wordpress.org/apis/handbook/http/) doc, the link to `Basic Authentication with the WordPress HTTP API` is outdated. [Current linked document](http://lud.icro.us/wordpress-http-api-basicauth/) was 301 redirected to [the document's current location](https://johnblackbourn.com/wordpress-http-api-basicauth/), but that 301 is gone now and th

[2020-10-10 14:11] mikeritter opened #311 "Incorrect apostrophe in Developer docs on Custom Meta Box under Adding Meta Boxes"
## Incorrect apostrophe in Developer docs on Custom Meta Box under Adding Meta Boxes

## **Steps to reproduce:**

1. https://developer.wordpress.org/plugins/metadata/custom-meta-boxes/#adding-meta-boxes

## Expected Result

In first sentence, "it's" should be "its".

[2020-10-10 14:14] mikeritter commented on #311
@atachibana please see.

[2020-10-11 23:49] ntwb commented on #311
Fixed, thanks @mikeritter

[2020-10-11 23:49] #311 closed, assigned to nobody

[2020-11-13 11:02] steven-morgan commented on #307
https://developer.wordpress.org/apis/handbook/http/#external-references doesn't seem to be a valid URL, nor is the one to the HTTP API doc (https://developer.wordpress.org/apis/handbook/http/)

[2020-12-01 23:46] patrik-csak opened #312 "Incorrect Heartbeat interval duration range"
## **Issue Description**

The [Heartbeat API](https://developer.wordpress.org/plugins/javascript/heartbeat-api/) page says:

As far as I can tell, the upper bound on the interval is *120* seconds when the tab is blurred ([source](https://core.trac.wordpress.org/browser/tags/5.5.3/src/js/_enqueues/wp/heartbeat.js#L489)).

It looks like this was most recently changed (from 100 to 120 seconds) in [#2

[2020-12-01 23:47] patrik-csak commented on #312
Apologies in advance if this is not the right place for this. It's difficult to tell how to contribute content changes to the Plugin Handbook.

[2021-02-26 07:27] oskar-fagerfjall opened #314 "Plugin handbook shortcode example code is incorrect"
## **Issue Description**

In the [Shortcodes with Parameters](https://developer.wordpress.org/plugins/shortcodes/shortcodes-with-parameters/) chapter in the plugin handbook, the complete example at the end is incorrect. It works fine for shortcodes without content, but when adding content that content is echoed twice.

## **Context**

The problematic code is the following
[code]
This code appends

[2021-02-26 09:15] ribaricplusplus opened #315 "Plugin Handbook custom meta boxes incorrect AJAX server side code"
Hello,

I think [this](https://developer.wordpress.org/plugins/metadata/custom-meta-boxes/#server-side-code) server side code is incorrect. It's supposed to be handling the AJAX request, yet it seems to be enqueueing JavaScript.

[2021-03-03 05:55] atachibana opened #316 "Wrong robots.txt in Settings Reading Screen since Version 5.3"
This issue was reported by @jdy68
https://wordpress.slack.com/archives/C02RP4WU5/p1614545496109200

https://wordpress.org/support/article/settings-reading-screen/
an error in the paragraph "Search Engine Visibility" :
It’s false since WP 5.3

only the link to the sitemap is removed in robots.txt but the root isn’t indicate Disallow

[2021-03-03 06:00] atachibana opened #317 "Move version.txt to HelpHub"
We should move this version text into HelpHub or some official place.
https://codex.wordpress.org/WordPress_Versions
Also, we have to let know core team who maintains this page regularly.

Ref.
https://wordpress.slack.com/archives/C02RP4WU5/p1614688146227200

[2021-03-03 06:14] atachibana commented on #316
Ref.
https://make.wordpress.org/core/2019/09/02/changes-to-prevent-search-engines-indexing-sites/

[2021-03-03 17:49] bruceluo111 opened #318 "LAMP-based wordpress blog failed to install ssl, somebody help!!!"
## **Issue Description**
I'm not a computer engineer, just a guy interested in Raspberry Pi and knows few linux code. And please forgive my English.
OS: Raspbian buster(Debian buster), CPU architecture: arm v71
Here is the thing: I buit a LAMP(Linux+Apache+Mariadb+PHP) on my Raspberry Pi 3b+ and installed wordpress to be my personal blog. And I've been using a great reverse proxy called FRP to exp

[2021-03-03 18:01] fierevere commented on #318
It will be better if you can use WordPress.org support forums instead of GitHub to ask specific questions.
I assume HelpHub issues here are dedicated to WordPress.org HelpHub system, not for general WordPress help.

You are welcome -
https://wordpress.org/support

[2021-03-07 14:03] atachibana commented on #316
I added specific supported version number, and the link to above dev note.

[code]

[2021-03-07 14:03] #316 closed, assigned to atachibana

[2021-04-18 03:42] atachibana opened #320 "Adding troubleshooting & tips information of sending mail"
Please Refer below ticket for the base discussion.
https://core.trac.wordpress.org/ticket/53048

We should add
- The reason of why sending mail from WordPress system failure occurs.
- Workaround by specifying real address using `wp_mail_from` hook
- General notice such as "Please contact the admin or hosting company because there are various reasons etc."

[2021-04-26 09:47] jennydupuy opened #323 "Obsolete information in Appearance Menus Screen post"
Hi,

In the post [Appearance Menu Screen](https://wordpress.org/support/article/appearance-menus-screen/) there is an obsolete information about adding automatically the pages to the menu:
"By default, WordPress adds all the published pages to the menu automatically."

This option isn’t check by default.

In the french documentation, we put this sentence:
"In your menu, you can add different items

[2021-05-16 18:59] Zodiac1978 opened #327 "Discussion settings blocklist and moderation list don't mention user agent string"
## The user agent is also checked against the text in the moderation and blocklist

https://wordpress.org/support/article/settings-discussion-screen/#comment-moderat%ef%bb%bfion%ef%bb%bf
and
https://wordpress.org/support/article/settings-discussion-screen/#comment-blocklist

"name, URL, e-mail, or IP" should be replaced with "author name, URL, email, IP address, or browser&#8217;s user agent strin

[2021-05-16 19:04] Zodiac1978 opened #328 "Jump links contain superflous unicode characters"
## Simplify jump links by removing such characters

For example on https://wordpress.org/support/article/settings-discussion-screen/ we have these jump links:

https://wordpress.org/support/article/settings-discussion-screen/#email-me-whenever%ef%bb%bf
https://wordpress.org/support/article/settings-discussion-screen/#before-a-comment-appears%ef%bb%bf
https://wordpress.org/support/article/settings-

[2021-07-29 04:25] atachibana opened #330 "Improve request to Giving WordPress Its Own Directory"
Article:
https://wordpress.org/support/article/giving-wordpress-its-own-directory

Improve request:
https://wordpress.org/support/topic/giving-wordpress-its-own-directory-24/

[2021-07-30 04:31] atachibana opened #331 "Redirect Codex page "WP_DEBUG" to HelpHub"
Codex page "WP_DEBUG" should be redirected to HelpHub.

Codex page:
https://codex.wordpress.org/WP_DEBUG

HelpHub page:
https://wordpress.org/support/article/debugging-in-wordpress/#example-wp-config-php-for-debugging

Now (30/Jul/2021), we have login issue on Codex. After its fix, this redirection should be set.

[2021-08-02 02:15] basilhendroff opened #332 "Using Caddy to Give WordPress Its Own Directory"
I'd like to request that the Caddy wiki article [Using Caddy to give WordPress its own directory](https://caddy.community/t/using-caddy-to-give-wordpress-its-own-directory/13185) be referenced somewhere (under a Related Links section?) within the WordPress support article [Giving WordPress Its Own Directory](https://wordpress.org/support/article/giving-wordpress-its-own-directory/). The wiki write

[2021-08-02 02:24] basilhendroff commented on #330
When revising  [Giving WordPress Its Own Directory](https://wordpress.org/support/article/giving-wordpress-its-own-directory/), it may be useful to use the wiki article mentioned in issue #332 as a reference. The wiki article is a rewrite of the WP article, but for Caddy users. It addresses the logic issues raised in the improve request here and corrects grammar issues identified in the WP article

[2021-08-08 09:37] atachibana opened #333 "New Page: How to move WordPress site from HTTP to HTTPS"
There are two methods:
1. Using the plugin
2. Setting up WordPress manually (without plugin)

For above method 2, the step will be (but might be missing)
1. Backup WordPress files and database
2. Set SSL certificate
3. Change WordPress URL from Administration Screen
4. Replace the string 'http' to 'https' in the database contents
5. Add redirect code into .htaccess

[2021-08-09 13:59] ashfame commented on #333
I just switched an old site to refresh up my memory for the exact steps:

#### Actual Instructions

- Take a backup of files and database in case you need to revert for whatever reasons.
- Get your webhost to install a TLS (also referred to as SSL) certificate for your website
- Once installed ensure that your website is accessible on `https` URL, by simply replacing `http` with `https` i.e. addin

[2021-08-17 08:49] atachibana opened #335 "Move page:"
Move this page to somewhere in the [DevHub](https://developer.wordpress.org) and redirect.

https://codex.wordpress.org/Query_Overview

Common API Handbook might be good place.
https://developer.wordpress.org/apis/

[2021-08-18 03:01] #332 closed, assigned to nobody

[2021-08-18 03:02] basilhendroff commented on #332
Moved to https://github.com/WordPress/Documentation-Issue-Tracker/issues/6

[2021-08-18 04:48] basilhendroff commented on #330
This issue has been moved to https://github.com/WordPress/Documentation-Issue-Tracker/issues/7. It can be closed here.

[2021-08-22 08:43] atachibana commented on #307
This issue was moved to new repository.
https://github.com/WordPress/Documentation-Issue-Tracker/issues/15

[2021-08-22 08:43] #307 closed, assigned to nobody

[2021-08-22 08:54] atachibana commented on #312
This issue was moved to the new repository.
https://github.com/WordPress/Documentation-Issue-Tracker/issues/16

[2021-08-22 08:54] #312 closed, assigned to nobody

[2021-08-22 09:00] atachibana commented on #314
This issue was moved to the new repository.
https://github.com/WordPress/Documentation-Issue-Tracker/issues/17

[2021-08-22 09:00] #314 closed, assigned to nobody

[2021-08-22 09:04] atachibana commented on #315
This issue was moved to the new repository.
https://github.com/WordPress/Documentation-Issue-Tracker/issues/18

[2021-08-22 09:04] #315 closed, assigned to nobody

[2021-08-22 09:05] #318 closed, assigned to nobody

[2021-08-22 09:26] atachibana commented on #323
@jennydupuy
I enhanced your suggestion to the original articcle.
https://wordpress.org/support/article/appearance-menus-screen/
Thank you!

[2021-08-22 09:26] #323 closed, assigned to nobody

[2021-08-22 09:31] atachibana commented on #330
@basilhendroff
Thank you.

[2021-08-22 09:31] #330 closed, assigned to nobody

[2021-08-22 09:37] atachibana commented on #333
This issue was moved to the new repository.
https://github.com/WordPress/Documentation-Issue-Tracker/issues/19

[2021-08-22 09:37] #333 closed, assigned to nobody

[2021-08-22 09:45] atachibana commented on #327
It seems that [Yui](https://profiles.wordpress.org/fierevere/) fixed those lines. Thank you!

[2021-08-22 09:45] #327 closed, assigned to nobody

[2021-08-22 12:09] atachibana commented on #328
@Zodiac1978

These links in the TOC were automatically generated from the content by Plugin. The plugin generates the link based on the heading texts in the content. So, some lines must have those characters at the end of each line.

But, problem is those characters are invisible and no way to find it nor fix it.

For this article 'Settings Discussion Screen', I could remove those characters by re

[2021-08-22 16:33] jennydupuy commented on #323
@atachibana
Thank you for this!

[2021-08-23 06:17] Zodiac1978 commented on #328
Hi @atachibana

I think it would be a better approach to convert these spaces to normal ones in the TOC plugin instead of doing it manually.

All the best
Torsten

[2021-08-24 00:22] atachibana commented on #328
@Zodiac1978
Yes, it should be so.

@Kenshino
Do you know who is the owner of TOC plugin? We'd like to ask to modify
- When it generates the link that includes '%ef%bb%bf' a the end of it, take it away.

[2021-09-01 11:10] Kenshino commented on #328
I think we built it.

@carl-alberto did it.

[2021-09-01 11:30] carl-alberto commented on #328
@atachibana feel free to modify, unfortunately I don't have bandwidth mo modify at the moment :(

[2021-09-01 11:51] Zodiac1978 commented on #328
@carl-alberto @Kenshino If you point me to the correct location I can (hopefully) provide a patch to fix this in the plugin.

[2021-09-01 11:55] Kenshino commented on #328
Here you go @Zodiac1978 ;) https://github.com/WordPress/HelpHub/tree/master/plugins/support-helphub/inc/table-of-contents-lite

[2021-09-28 19:45] tim-andes opened #336 "Typo in "Displaying Custom Header""
## **Issue Description**
Typo in https://developer.wordpress.org/themes/functionality/custom-headers/#displaying-custom-header, "retrives" should be "retrieves". 1st line under the section's title.

## **Steps to reproduce:**
1. Visit link above

[2021-10-18 12:21] webaxones opened #337 "404 broken links in Related section of Audio & Video Shortcodes posts"
## **404 broken links in Related posts section of audio & video shortcodes posts**
Some links in Related section (at the bottom) of the following pages are broken because they point to the codex where the pages no longer exist and have no equivalence on developer.wordpress.org
https://wordpress.org/support/article/video-shortcode/#related
https://wordpress.org/support/article/audio-shortcode/#rela

[2021-10-18 16:06] jennydupuy commented on #337
These are the links that were badly written in the EN version, but these pages still exist in the codex.
I corrected the links to the codex pages for the "caption", "embed", "gallery" and "playlist" shortcodes and added changelog in:
https://wordpress.org/support/article/video-shortcode/#related
https://wordpress.org/support/article/audio-shortcode/#related

[2022-06-02 15:23] leogermani commented on #336
Fixed

[2022-06-02 15:28] leogermani commented on #331
Done!

[2022-06-19 09:46] atachibana commented on #331
@leogermani
Thank you for your attention to an old issue.

[2022-06-19 09:46] #331 closed, assigned to nobody

[2022-06-19 09:48] atachibana commented on #336
@leogermani
Confirmed your fix. Thank you!

[2022-06-19 09:48] #336 closed, assigned to nobody